<%inherit file="../admin_common/admin_frame.html"/>


<%block name="css">
<link rel="stylesheet" href="/static/dashboard/dashboard.css">
</%block>


<%block name="title">대쉬보드</%block>
<%block name="subtitle">서비스의 전체적인 부분을 한눈에 볼 수 있습니다</%block>


<%block name="content">
<div class="statistics-container">
  <div class='xxx'>
    <div class='xxx-title'>
      오늘의 통계
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td class='wd50p'>가입한 사용자</td>
          <td id='regist_user_today'></td>
        </tr>
        <tr>
          <td class='wd50p'>로그인한 사용자</td>
          <td id='login_today'></td>
        </tr>
        <tr>
          <td class='wd50p'>결제 수익(원)</td>
          <td class='p-color-blue fwb' id='profit'></td>
        </tr>
        <tr>
          <td class='wd50p'>환불 금액(원)</td>
          <td class='p-color-red fwb' id='refund'></td>
        </tr>
        <tr>
          <td class='wd50p'>결제 수익(달러)</td>
          <td class='p-color-blue fwb' id='profit_usd'></td>
        </tr>
        <tr>
          <td class='wd50p'>환불 금액(달러)</td>
          <td class='p-color-red fwb' id='refund_usd'></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='xxx'>
    <div class='xxx-title'>
      회원 통계
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td class='wd50p'>사용자 권한</td>
          <td id='user_count'></td>
        </tr>
        <tr>
          <td class='wd50p'>관리자 권한</td>
          <td id='admin_count'></td>
        </tr>
        <tr>
          <td class='wd50p'>CS 권한</td>
          <td id='cs_count'></td>
        </tr>
        <tr>
          <td class='wd50p'>총판 권한</td>
          <td id='chongpan_count'></td>
        </tr>
        <tr>
          <td class='wd50p'>활성화 사용자</td>
          <td class='p-color-blue' id='active_count'></td>
        </tr>
        <tr>
          <td class='wd50p'>비활성화 사용자</td>
          <td class='p-color-red' id='deactive_count'></td>
        </tr>
        <tr>
          <td class='wd50p'>삭제된 사용자</td>
          <td id='delete_count'></td>
        </tr>
        <tr>
          <td class='wd50p'>차단된 사용자</td>
          <td id='black_count'></td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="chart-container">
  <div class="chart">
    <div class="row-head today-reg-user-head5">성별 별 가입자 수</div>
    <div class="today-reg-user-head row-head-name chart-margin">
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <div class="chart2">
    <div class="row-head today-reg-user-head6">나이 별 가입자 수</div>
    <div class="today-reg-user-head row-head-name chart-margin">

    </div>
    <canvas id="myChart2" width="400" height="171.8"></canvas>
  </div>
</div>
<div hidden id="regist_today_dt">${ regist_today }</div>
<div hidden id="login_today_dt">${ login_today }</div>
<div hidden id="profit_dt">${ profit }</div>
<div hidden id="refund_dt">${ refund }</div>
<div hidden id="profit_usd_dt">${ profit_usd }</div>
<div hidden id="refund_usd_dt">${ refund_usd }</div>
<div hidden id="user_count_dt">${ user_count }</div>
<div hidden id="admin_count_dt">${ admin_count }</div>
<div hidden id="cs_count_dt">${ cs_count }</div>
<div hidden id="chongpan_count_dt">${ chongpan_count }</div>
<div hidden id="active_count_dt">${ active_count }</div>
<div hidden id="deactive_count_dt">${ deactive_count }</div>
<div hidden id="delete_count_dt">${ delete_count }</div>
<div hidden id="black_count_dt">${ black_count }</div>
<div hidden id="men">${ men }</div>
<div hidden id="female">${ female }</div>
<div hidden id="ages">${ ages }</div>
</%block>


<%block name="js">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script>
var regist_today_dt = $('#regist_today_dt').html();
var login_today_dt = $('#login_today_dt').html();
var profit_dt = $('#profit_dt').html();
var refund_dt = $('#refund_dt').html();
var profit_usd_dt = $('#profit_usd_dt').html();
var refund_usd_dt = $('#refund_usd_dt').html();
var user_count_dt = $('#user_count_dt').html();
var admin_count_dt = $('#admin_count_dt').html();
var cs_count_dt = $('#cs_count_dt').html();
var chongpan_count_dt = $('#chongpan_count_dt').html();
var active_count_dt = $('#active_count_dt').html();
var deactive_count_dt = $('#deactive_count_dt').html();
var delete_count_dt = $('#delete_count_dt').html();
var black_count_dt = $('#black_count_dt').html();

var options = {
  useEasing : true,
  useGrouping : true,
  separator : ',',
  decimal : '.',
  prefix: '',
};

var regist_user_today = new CountUp("regist_user_today", 0, regist_today_dt, 0, 2.5, options);
regist_user_today.start();
var login_today = new CountUp("login_today", 0, login_today_dt, 0, 2.5, options);
login_today.start();
var profit = new CountUp("profit", 0, profit_dt, 0, 2.5, options);
profit.start();
var refund = new CountUp("refund", 0, refund_dt, 0, 2.5, options);
refund.start();
var profit_usd = new CountUp("profit_usd", 0, profit_usd_dt, 0, 2.5, options);
profit_usd.start();
var refund_usd = new CountUp("refund_usd", 0, refund_usd_dt, 0, 2.5, options);
refund_usd.start();
var user_count = new CountUp("user_count", 0, user_count_dt, 0, 2.5, options);
user_count.start();
var admin_count = new CountUp("admin_count", 0, admin_count_dt, 0, 2.5, options);
admin_count.start();
var cs_count = new CountUp("cs_count", 0, cs_count_dt, 0, 2.5, options);
cs_count.start();
var chongpan_count = new CountUp("chongpan_count", 0, chongpan_count_dt, 0, 2.5, options);
chongpan_count.start();
var active_count = new CountUp("active_count", 0, active_count_dt, 0, 2.5, options);
active_count.start();
var deactive_count = new CountUp("deactive_count", 0, deactive_count_dt, 0, 2.5, options);
deactive_count.start();
var delete_count = new CountUp("delete_count", 0, delete_count_dt, 0, 2.5, options);
delete_count.start();
var black_count = new CountUp("black_count", 0, black_count_dt, 0, 2.5, options);
black_count.start();

var ctx = document.getElementById("myChart");
var ctx2 = document.getElementById("myChart2");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["남자", "여자"],
        datasets: [
            {
                label: ["성별 별 가입자 수"],
                data: [${ men }, ${female}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend: {
            display: false
        },
        tooltips: {
            callbacks: {
               label: function(tooltipItem) {
                      return tooltipItem.xLabel;
               }
            }
        }
    }
});

var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: ["10대", "20대", "30대", "40대", "50대", "60대", "70대", "80대", "기타"],
        datasets: [
            {
                label: ["나이 별 가입자 수"],
                data: ${ ages },
                backgroundColor: [
                    'rgba(153, 102, 255, 0.7)',
                      'rgba(75, 192, 192, 0.7)',
                    'rgba(255, 99, 132, 0.7)',
                      'rgba(54, 162, 235, 0.7)',
                      'rgba(255, 206, 86, 0.7)',
                      'rgba(255, 159, 64, 0.7)'
                ],
                borderColor: [
                    'rgba(153, 102, 255, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend: {
            display: false
        },
        tooltips: {
            callbacks: {
               label: function(tooltipItem) {
                      return tooltipItem.xLabel;
               }
            }
        }
    }
});
</script>
</%block>
