<%inherit file="../admin_common/admin_frame.html"/>


<%block name="css">
<link rel="stylesheet" href="/static/review/review.css">
</%block>


<%block name="title">리뷰관리</%block>
<%block name="subtitle">사용자 메인페이지에 보이는 리뷰를 관리할 수 있습니다.</%block>


<%block name="content">
<div id="vue">
  <div class="box-body-input input-margin">
    <div class="flex-item">
      <input type="radio" name="sum" value="en" checked v-on:click='selectLanguage($event)'>
      <img class="country-logo" src='/static/image/usa.png'>
      <span>영어</span>
    </div>
    <div class="flex-item">
      <input type="radio" name="sum" value="ko" v-on:click='selectLanguage($event)'>
      <img class="country-logo" src='/static/image/korea.png'>
      <span>한국어</span>
    </div>
    <div class="flex-item">
      <input type="radio" name="sum" value="ja" v-on:click='selectLanguage($event)'>
      <img class="country-logo" src='/static/image/japan.png'>
      <span>일본어</span>
    </div>
    <div class="flex-item">
      <input type="radio" name="sum" value="zh" v-on:click='selectLanguage($event)'>
      <img class="country-logo" src='/static/image/china.png'>
      <span>중국어</span>
    </div>
  </div>
  <div class="btn-store">
    <button class="btn btn-fw success" v-on:click="addItem()">리뷰추가</button>
  </div>
  <div class="item-store">
    <div class="review-section" v-for="item in items" v-if="item.idx == 1 || item.idx == 2 || item.idx == 3" :id="item.idx">
      <div class="review-col1">
        <label>평점</label>
        <select v-model="item.star" class="form-control" id="starbox" :name="item.id">
          <option v-for="test in tests" :value="test.value" >[[test.text]]</option>
        </select>
      </div>
      <div class="review-col2">
        <label>이름</label>
        <input type="text" class="form-control" id="input_name" name="username" placeholder="" :value="[[item.username]]">
      </div>
      <div class="review-col3">
        <label>내용</label>
         <textarea class="form-control" id="input_content" name="content" rows="3">[[item.content]]</textarea>
      </div>
      <div class="review-col4">
        <button class="w100p btn btn-fw warn" v-on:click="saveItem([[item.id]], [[item.idx]])">저장</button>
      </div>
      <div class="review-col5">
        <button class="w100p btn btn-fw white" v-on:click="deleteItem([[item.id]])">삭제</button>
      </div>
    </div>
  </div>
  <div class="item-store">
    <div class="review-section" v-for="item in items" v-if="item.idx == 4 || item.idx == 5 || item.idx == 6" :id="item.idx">
      <div class="review-col1">
        <label>평점</label>
        <select v-model="item.star" class="form-control" id="starbox" :name="item.id">
          <option v-for="test in tests" :value="test.value" >[[test.text]]</option>
        </select>
      </div>
      <div class="review-col2">
        <label>이름</label>
        <input type="text" class="form-control" id="name" name="username" placeholder="" :value="[[item.username]]">
      </div>
      <div class="review-col3">
        <label>내용</label>
         <textarea class="form-control" id="content" name="content" rows="3">[[item.content]]</textarea>
      </div>
      <div class="review-col4">
        <button class="w100p btn btn-fw warn" v-on:click="saveItem([[item.id]], [[item.idx]])">저장</button>
      </div>
      <div class="review-col5">
        <button class="w100p btn btn-fw white" v-on:click="deleteItem([[item.id]])">삭제</button>
      </div>
    </div>
  </div>
</div>
</%block>


<%block name="js">
<script src="/static/review/review.js"></script>
</%block>
