<%inherit file="../admin_common/admin_frame.html"/>

<%block name="css">
<style>
  .flex-item {
    flex: 1;
}
  .country-logo {
    width: 20px;
    margin-left: 5px;
    margin-top: -5px;
}
.input-margin {
  font-size: 15px;
  display: flex;
}
.btn-store{
      text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}
.item-store{
  border: solid 0px yellow;
  display: flex;
  margin-top: 12px;
}
  .review-section{
    padding: 12px;
    border: solid 1px #e3e0e6;
    width: 300px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .review-col2{
    margin-top: 10px;
  }
  .review-col3{
    margin-top: 10px;
  }
  .review-col4{
    margin-top: 10px;
  }
  .review-col5{
    margin-top: 3px;
  }
  .w100p{
    width: 100%;
  }
</style>
</%block>

<%block name="title">리뷰관리</%block>
<%block name="subtitle">사용자 메인페이지에 보이는 리뷰를 관리할 수 있습니다.</%block>

<%block name="content">

<div id="vue">
  language -> [[language]]

  <div class="box-body-input input-margin">
    <div class="flex-item">
      <input type="radio" name="sum" value="en" checked v-on:click='selectLanguage($event)'>
      <img class="country-logo" src='/static/image/usa.png'>
      <span>영어</span>
    </div>

    <div class="flex-item">
      <input type="radio" name="sum" value="ko" v-on:click='selectLanguage($event)'>
      <img class="country-logo" src='/static/image/korea.png'>
      <span>한국어</span>
    </div>

    <div class="flex-item">
      <input type="radio" name="sum" value="ja" v-on:click='selectLanguage($event)'>
      <img class="country-logo" src='/static/image/japan.png'>
      <span>일본어</span>
    </div>

    <div class="flex-item">
      <input type="radio" name="sum" value="zh" v-on:click='selectLanguage($event)'>
      <img class="country-logo" src='/static/image/china.png'>
      <span>중국어</span>
    </div>
  </div>

  <div class="btn-store">
    <button class="btn btn-fw success" v-on:click="addItem()">리뷰추가</button>
  </div>

  <div class="item-store">
    <!--template start-->
    <div class="review-section" v-for="item in items" v-if="item.idx == 1 || item.idx == 2 || item.idx == 3" :id="item.idx">
      <div class="review-col1">
        <label>평점</label>
        <select class="form-control" id="starbox" :name="item.id">
          <option v-if="item.star == '1'" value="1" selected>★☆☆☆☆</option>
          <option v-if="item.star != '1'">★☆☆☆☆</option>

          <option v-if="item.star == '2'" value="2" selected>★★☆☆☆</option>
          <option v-if="item.star != '2'">★★☆☆☆</option>

          <option v-if="item.star == '3'" value="3" selected>★★★☆☆</option>
          <option v-if="item.star != '3'">★★★☆☆</option>

          <option v-if="item.star == '4'" value="4" selected>★★★★☆</option>
          <option v-if="item.star != '4'">★★★★☆</option>

          <option v-if="item.star == '5'" value="5" selected>★★★★★</option>
          <option v-if="item.star != '5'">★★★★★</option>
        </select>
      </div>

      <div class="review-col2">
        <label>이름</label>
        <input type="text" class="form-control" id="input_name" name="username" placeholder="" :value="[[item.username]]">
      </div>
      <div class="review-col3">
        <label>내용</label>
         <textarea class="form-control" id="input_content" name="content" rows="3">[[item.content]]</textarea>
      </div>
      <div class="review-col4">
        <button class="w100p btn btn-fw warn" v-on:click="saveItem([[item.id]], [[item.idx]])">저장</button>
      </div>
      <div class="review-col5">
        <button class="w100p btn btn-fw white" v-on:click="deleteItem([[item.id]])">삭제</button>
      </div>
    </div>
    <!--template end-->
  </div>

  <div class="item-store">
    <!--template start-->
    <div class="review-section" v-for="item in items" v-if="item.idx == 4 || item.idx == 5 || item.idx == 6" :id="item.idx">
      <div class="review-col1">
        <label>평점</label>
        <select class="form-control" id="starbox" :name="item.id">
          <option v-if="item.star == '1'" value="1" selected>★☆☆☆☆</option>
          <option v-if="item.star != '1'">★☆☆☆☆</option>

          <option v-if="item.star == '2'" value="2" selected>★★☆☆☆</option>
          <option v-if="item.star != '2'">★★☆☆☆</option>

          <option v-if="item.star == '3'" value="3" selected>★★★☆☆</option>
          <option v-if="item.star != '3'">★★★☆☆</option>

          <option v-if="item.star == '4'" value="4" selected>★★★★☆</option>
          <option v-if="item.star != '4'">★★★★☆</option>

          <option v-if="item.star == '5'" value="5" selected>★★★★★</option>
          <option v-if="item.star != '5'">★★★★★</option>
        </select>
      </div>
      <div class="review-col2">
        <label>이름</label>
        <input type="text" class="form-control" id="name" name="username" placeholder="" :value="[[item.username]]">
      </div>
      <div class="review-col3">
        <label>내용</label>
         <textarea class="form-control" id="content" name="content" rows="3">[[item.content]]</textarea>
      </div>
      <div class="review-col4">
        <button class="w100p btn btn-fw warn" v-on:click="saveItem([[item.id]], [[item.idx]])">저장</button>
      </div>
      <div class="review-col5">
        <button class="w100p btn btn-fw white" v-on:click="deleteItem([[item.id]])">삭제</button>
      </div>
    </div>
    <!--template end-->
  </div>

</div>
</%block>

<%block name="js">
<script>

  var csrf_token = $('#csrf_token').html();
  var app = new Vue({
    el: '#vue',
    delimiters: ['[[', ']]'],
    created () {
      $.post( "/api_review_read", {
            csrfmiddlewaretoken: csrf_token,
            language: this.language,
        })
        .done(function( data ) {
            console.log(data.result);
            app.items = data.result;
            console.log("app.items->>", app.items);
        });
    },
    data: {
      items: [],
      language: 'en'
    },
    methods: {
      // 언어 선택(state update) 및 내용 로드(based state)
      selectLanguage: function(e){
        var language = e.currentTarget.value;
        this.language = language;

        this.loadItem();
      },
      // 내용 로드(based state)
      loadItem: function(){
        $.post( "/api_review_read", {
            csrfmiddlewaretoken: csrf_token,
            language: this.language
        })
        .done(function( data ) {
          console.log(data.result);
          app.items = data.result;
        });
      },
      // 아이템 삭제 후 내용 로드(based state)
      deleteItem: function(seq){
        var seq = seq[0][0];
        console.log('seq -> ', seq);
        $.post( "/api_review_del", {
            csrfmiddlewaretoken: csrf_token,
            seq: seq,
        })
        .done(function( data ) {
            if (data.result == '200') {
                Swal.fire({
                    title: '삭제완료',
                    text: '정상적으로 삭제되었습니다.',
                    type: 'success',
                    confirmButtonColor: "#22b66e"
                })
                app.loadItem();
            }
        });
      },
      addItem: function(){
        console.log('this.items -> ', this.items);
        console.log('this.items -> ', this.items.length);

        if(this.items.length == 6){
          console.log('item pool is full');
          return false;
        }

        var tmp = {
          content: '',
          id: 0,
          idx: this.items.length + 1,
          star: 1,
          username: ''
        }

        this.items.push(tmp);

      },
      // 내용 업데이트 및 삽입
      saveItem: function(seq, idx){
        var seq = seq[0][0];
        var language = this.language;
        var starbox = $('#'+idx).find('#starbox option:selected').val();
        if(starbox == '★☆☆☆☆')
            starbox = '1';
        else if(starbox == '★★☆☆☆')
            starbox = '2';
        else if(starbox == '★★★☆☆')
            starbox = '3';
        else if(starbox == '★★★★☆')
            starbox = '4';
        else if(starbox == '★★★★★')
            starbox = '5';

        var username = $('#'+idx).find('input[name=username]').val();
        var content = $('#'+idx).find('textarea[name=content]').val();

        console.log('--------------------------------');
        console.log('seq -> ', seq);
        console.log('language -> ', language);
        console.log('starbox -> ', starbox);
        console.log('username -> ', username);
        console.log('content -> ', content);
        console.log('--------------------------------');

        $.post( "/api_review_save", {
            csrfmiddlewaretoken: csrf_token,
            seq: seq,
            username: username,
            content: content,
            starbox: starbox,
            language: language,
        })
        .done(function( data ) {
            if (data.result == '200') {
                Swal.fire({
                    title: '저장완료',
                    text: '정상적으로 저장되었습니다.',
                    type: 'success',
                    confirmButtonColor: "#22b66e"
                })
            }
            app.loadItem();
        });

      },
    }
  })
</script>
</%block>
