Django==4.2.23           # LTS
gunicorn==23.0.0
mysqlclient==2.2.4
django-extensions==3.2.3
ipython==8.26.0
requests==2.32.3
paramiko==3.5.0
# Mako를 유지한다면 (임시로만)
# Mako==1.3.5
# djangomako==1.3.2

python-dateutil==2.9.0.post0
