<%inherit file="../admin_common/admin_frame.html"/>


<%block name="css">
<link rel="stylesheet" href="/static/dealer/dealer.css" type="text/css"/>
</%block>


<%block name="title">수익 관리</%block>
<%block name="subtitle">총판으로서 수익 내역을 볼 수 있습니다</%block>


<%block name="content">
<div id='vue'>
  <div class='toptop'>
    <div class="list-item" style='flex: 1'>
      <div>
        <img src="/static/dealer/img/star.png" class="w-40">
      </div>
      <div class="list-body">
        <a href="#" class="_500">추천인코드 (본인)</a>
        <small class="d-block text-muted">${rec}</small>
      </div>
    </div>
    <div class="list-item" style='flex: 1'>
      <div>
        <img src="/static/dealer/img/money.png" class="w-40">
      </div>
      <div class="list-body">
        <a href="#" class="_500">이번년도 수익(KRW)</a>
        <small class="d-block text-muted">[[ amount_krw ]]</small>
      </div>
    </div>
    <div class="list-item" style='flex: 1'>
      <div>
        <img src="/static/dealer/img/money.png" class="w-40">
      </div>
      <div class="list-body">
        <a href="#" class="_500">이번년도 수익(USD)</a>
        <small class="d-block text-muted">[[ amount_usd ]]</small>
      </div>
    </div>
  </div>
  <!-- 검색필터 -->
  <div class="user-filter">
    <div class="form-group email-form flex1">
      <select class="form-control" id="filter_year" name="filter_year">
        % for year in searchYear:
        <option value="${year}">${year}년 수익</option>
        % endfor:
      </select>
    </div>
  </div>
  <!-- 버튼 -->
  <div class='btn-store'>
    <button class="btn btn-fw primary" v-on:click="click_search()">
      <i class="fa fa-search mr5"></i>
      검색하기
    </button>
  </div>
  <!-- 테이블 -->
  <div class="user-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>년(yaer)</th>
          <th>월(month)</th>
          <th>KRW 수익합계</th>
          <th>USD 수익합계</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items">
          <td>[[ item.year ]]</td>
          <td>[[ item.month ]]</td>
          <td>[[ item.amount_krw ]]</td>
          <td>[[ item.amount_usd ]]</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div v-if="items.length == 0" class='null-history'>
    수익이 존재하지 않습니다
  </div>
</div>
</%block>


<%block name="js">
<script src="/static/dealer/dealer.js"></script>
</%block>
