<%inherit file="../admin_common/admin_frame.html"/>

<%block name="css">
<style>
  .user-container {
    min-height: 850px;
  }
  .user-filter {
    display: flex;
  }
  table > thead > tr {
    font-size: 12px;
    text-align: center;
  }
  table > tbody > tr {
    font-size: 12px;
    text-align: center;
  }
  .flex1{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn-store{
    text-align: right;
    margin-bottom: 12px;
  }
  .dataTables_paginate{
    width: 100% !important;
    text-align: center !important;
    margin-top: 10px !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #ab6cff !important;
    border: solid 1px #ab6cff !important;
    color: #ffffff !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #ab6cff !important;
    border: solid 1px #ab6cff !important;
    color: #ffffff !important;
  }
  .inner-view{
    display: none;
    padding: 5px;
    margin-top: 20px;
    height:860px;
    width: 1100px;
    margin: 0 auto;
  }
  .view-left{
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 20px;
    border: solid 3px #bc90ff;
    width: 50%;
  }
  .view-right{
    margin-left: 10px;
    padding-top: 18px;
    border-radius: 10px;
    border: solid 3px #bc90ff;
    width: 50%;
  }
  .inner-title{
    display: none;
    text-align: center;
    font-size: 25px;
    padding: 20px;
  }
  .tar{
    text-align: center;
  }
  .view-input{
    width: 450px;
    margin: 0 auto;
  }
  .label-margin {
    margin-left: 45px;
  }
  .r-icon{
    color: #7f54ff;
    margin-right: 8px;
  }
  .display .dataTable .no-footer{
    width: 100%;
  }

</style>
</%block>

<%block name="title">수익 관리</%block>
<%block name="subtitle">총판으로서 수익 내역을 볼 수 있습니다</%block>

<%block name="content">
<div class="user-container">

  <!-- 검색필터 -->
  <div class="user-filter">
    <div class="form-group email-form flex1">
      <label>YYYY년 수익</label>
      <select class="form-control" id="filter_pgcode" name="filter_pgcode">
        <option value="0">선택하세요</option>
        <option value="2019">2019</option>
      </select>
    </div>
    <div class="form-group name-form flex1">
      <label>세션</label>
      <select class="form-control" id="filter_sessionr" name="filter_sessionr">
        <option value="0">선택하세요</option>
        <option value="1">세션 1</option>
        <option value="2">세션 2</option>
      </select>
    </div>
    <div class="form-group flex1">
      <label>개월수</label>
      <select class="form-control" id="filter_month" name="filter_month">
        <option value="0">선택하세요</option>
        <option value="1">1개월</option>
        <option value="6">6개월</option>
        <option value="12">12개월</option>
      </select>
    </div>
    <div class="form-group flex1">
      <label>한불여부</label>
      <select class="form-control" id="filter_refund" name="filter_black">
        <option>선택하세요</option>
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
    <div class="form-group flex1">
      <label>결제일</label>
      <input class="form-control" id="filter_regist">
    </div>
  </div>

  <!-- 버튼 -->
  <div class='btn-store'>
    <button class="btn btn-fw primary" onclick="click_search()">
      <i class="fa fa-search mr5"></i>
      검색하기
    </button>
  </div>

  <!-- 데이터테이블즈 -->
  <div class="user-table">
    <table id="price-inform" class="display">
      <thead>
        <tr>
          <th>아이디</th>
          <th>tid</th>
          <th>결제수단</th>
          <th>상품명</th>
          <th>가격</th>
          <th>비과세</th>
          <th>부과세</th>
          <th>이메일</th>
          <th>자동결제</th>
          <th>환불</th>
          <th>결제일</th>
          <th>환불일</th>
          <th>
            자동결제<br>
            취소일
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>
</%block>

<%block name="js">

<script>
    var csrf_token = $('#csrf_token').html();
    var datatable = $('#price-inform').DataTable({
      dom: '<"top"Blf>rtp<"bottom"i>',
      paging: true,
      ordering: true,
      info: false,
      filter: false,
      lengthChange: false,
      order: [[0, "desc"]],
      stateSave: false,
      pagingType: "full_numbers",
      scrollX: false,
      scrollCollapse: false,
      processing: true,
      serverSide: true,
      drawCallback: function () {},
      ajax: {
          url: "/api_price_read",
          type: "POST",
          dataType: "json",
          data: {
              csrfmiddlewaretoken: csrf_token,
              id: function() { return $('#filter_id').val() },
              email: function() { return $('#filter_email').val() },
              username: function() { return $('#filter_name').val() },
              gender: function() {
                  if($('#filter_gender option:selected').text() == "선택하세요") {
                      return '';
                  }
                  else
                      return $('#filter_gender').val();
              },
              delete: function() {
                  if($('#filter_delete option:selected').text() == "선택하세요") {
                      return '';
                  }
                  else
                      return $('#filter_delete').val();
              },
              black: function() {
                  if($('#filter_black option:selected').text() == "선택하세요") {
                      return '';
                  }
                  else
                      return $('#filter_black').val();
              },
              active: function() {
                  if($('#filter_active option:selected').text() == "선택하세요") {
                      return '';
                  }
                  else
                      return $('#filter_active').val();
              },
              staff: function() {
                  if($('#filter_staff option:selected').text() == "선택하세요") {
                      return '';
                  }
                  else
                      return $('#filter_staff').val();
              },
          },
      },
      columns: [
          {data: "id"},
          {data: "tid"},
          {data: "pgcode"},
          {data: "product_name"},
          {data: "amount"},
          {data: "taxfree_amount"},
          {data: "tax_amount"},
          {data: "email"},
          {data: "autopay_flag"},
          {data: "refund_yn"},
          {data: "regist_date"},
          {data: "refund_date"},
          {data: "auto_end_date"},
      ],
      columnDefs: [
          {
            targets: 0,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 1,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 2,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 3,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 4,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 5,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 6,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 7,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 8,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 9,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 10,
            visible: true,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 11,
            visible: true,
            orderable: false,
            render: function (data) {
              return data;
            }
          },
          {
            targets: 12,
            visible: true,
            orderable: false,
            render: function (data) {
              return data;
            }
          }
      ],
      language: {
          lengthMenu: "Display _MENU_ records per page",
          zeroRecords: "데이터가 존재하지 않습니다",
          info: "Showing page _PAGE_ of _PAGES_",
          infoEmpty: "No records available",
          infoFiltered: "(filtered from _MAX_ total records)",
          paginate: {
              first: '처음',
              last: '끝',
              previous: "이전",
              next: "다음"
          }
      },
    });

    function click_search(){
        datatable.ajax.reload();
    }

    function editView() {
        id = $('input[id=user_id]').val();
        active = $('#user_active').val();
        delete_yn = $('#user_delete').val();
        staff = $('#user_staff').val();
        black = $('#user_black').val();
        console.log("id  == >", id);
        $.ajax({
            url: "/api_user_edit",
            type: "POST",
            async: false, // ture: 비동기, false: 동기
            data: {
                csrfmiddlewaretoken: csrf_token,
                id: id,
                active: active,
                delete_yn: delete_yn,
                staff: staff,
                black: black,
            },
            dataType: "json",
            success: function(data){
                if (data.result == '200') {
                    Swal.fire({
                        title: '알림',
                        text: '성공적으로 변경되었습니다.',
                        type: 'success',
                        confirmButtonColor: swalColor('success')
                    })
                }
            }
        });
    }

    function callInnerView(seq){
      $('.user-table').hide();
      $('.user-filter').hide();
      $('.btn-store').hide();
      $('.inner-title').fadeIn();
      $('.inner-view').fadeIn();
      $('.inner-view').css({display: 'flex'})
        $.ajax({
            url: "/api_user_detail",
            type: "POST",
            async: false, // ture: 비동기, false: 동기
            data: {
                csrfmiddlewaretoken: csrf_token,
                seq: seq,
            },
            dataType: "json",
            success: function(data){
                console.log(data)
                $('input[id=user_id]').attr('value', data.result[0]['id']);
                $('input[id=user_email]').attr('value', data.result[0]['email']);
                $('input[id=user_name]').attr('value', data.result[0]['username']);
                $('input[id=user_phone]').attr('value', data.result[0]['phone']);
                $('input[id=user_gender]').attr('value', data.result[0]['gender']);
                $('input[id=user_birth]').attr('value', data.result[0]['birth_date']);
                $('input[id=user_sns]').attr('value', data.result[0]['sns']);
                $('input[id=user_regist]').attr('value', data.result[0]['regist_date']);
                $('input[id=user_rec1]').attr('value', data.result[0]['rec']);
                $('input[id=user_rec2]').attr('value', data.result[0]['regist_rec']);
                $('input[id=user_rec_ip]').attr('value', data.result[0]['regist_ip']);
                $('input[id=user_attempt]').attr('value', data.result[0]['attempt']);
                $('input[id=user_login_ip]').attr('value', data.result[0]['login_ip']);
                $('input[id=user_login_date]').attr('value', data.result[0]['login_date']);


                $('#user_active').val(data.result[0]['is_active']).attr("selected", "selected");
                $('#user_delete').val(data.result[0]['delete_yn']).attr("selected", "selected");
                $('#user_staff').val(data.result[0]['is_staff']).attr("selected", "selected");
                $('#user_black').val(data.result[0]['black_yn']).attr("selected", "selected");


            }
        });
    }

    function returnView(seq){
        $('input[id=user_id]').attr('value', '');
        $('input[id=user_email]').attr('value', '');
        $('input[id=user_name]').attr('value', '');
        $('input[id=user_phone]').attr('value', '');
        $('input[id=user_gender]').attr('value', '');
        $('input[id=user_birth]').attr('value', '');
        $('input[id=user_sns]').attr('value', '');
        $('input[id=user_regist]').attr('value', '');
        $('input[id=user_rec1]').attr('value', '');
        $('input[id=user_rec2]').attr('value', '');
        $('input[id=user_rec_ip]').attr('value', '');

      $('.user-table').fadeIn();
      $('.user-filter').fadeIn();
      $('.btn-store').fadeIn();
      $('.inner-title').hide();
      $('.inner-view').hide();
    }
</script>
</%block>
