<%inherit file="../admin_common/admin_frame.html"/>

<%block name="css">
<style>
  .user-filter {
    display: flex;
  }
  table > thead > tr {
    font-size: 12px;
    text-align: center;
  }
  table > tbody > tr {
    font-size: 12px;
    text-align: center;
  }
  .flex1{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn-store{
    text-align: right;
    margin-bottom: 12px;
  }
  .dataTables_paginate{
    width: 100% !important;
    text-align: center !important;
    margin-top: 10px !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #ab6cff !important;
    border: solid 1px #ab6cff !important;
    color: #ffffff !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #ab6cff !important;
    border: solid 1px #ab6cff !important;
    color: #ffffff !important;
  }
  .inner-view{
    display: none;
    padding: 5px;
    margin-top: 20px;
    height:860px;
    width: 1100px;
    margin: 0 auto;
  }
  .view-left{
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 20px;
    border: solid 3px #bc90ff;
    width: 50%;
  }
  .view-right{
    margin-left: 10px;
    padding-top: 18px;
    border-radius: 10px;
    border: solid 3px #bc90ff;
    width: 50%;
  }
  .inner-title{
    display: none;
    text-align: center;
    font-size: 25px;
    padding: 20px;
  }
  .tar{
    text-align: center;
  }
  .view-input{
    width: 450px;
    margin: 0 auto;
  }
  .label-margin {
    margin-left: 45px;
  }
  .r-icon{
    color: #7f54ff;
    margin-right: 8px;
  }
  .display .dataTable .no-footer{
    width: 100%;
  }
  thead{
    background: #f1e9ff;
  }
  .toptop{
    display: flex;
    border: solid 1px #dddddd;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

</style>
</%block>

<%block name="title">수익 관리</%block>
<%block name="subtitle">총판으로서 수익 내역을 볼 수 있습니다</%block>

<%block name="content">
<div id='vue'>

  <div class='toptop'>
    <div class="list-item" style='flex: 1'>
      <div>
        <img src="/static/dealer/star.png" class="w-40">
      </div>
      <div class="list-body">
        <a href="#" class="_500">추천인코드 (본인)</a>
        <small class="d-block text-muted">${rec}</small>
      </div>
    </div>
    <div class="list-item" style='flex: 1'>
      <div>
        <img src="/static/dealer/money.png" class="w-40">
      </div>
      <div class="list-body">
        <a href="#" class="_500">이번년도 수익</a>
        <small class="d-block text-muted">[[ sum_amount ]]</small>
      </div>
    </div>
  </div>

  <!-- 검색필터 -->
  <div class="user-filter">
    <div class="form-group email-form flex1">
      <select class="form-control" id="filter_year" name="filter_year">
        <option value="2019">2019년 수익</option>
      </select>
    </div>
  </div>

  <!-- 버튼 -->
  <div class='btn-store'>
    <button class="btn btn-fw primary" v-on:click="click_search()">
      <i class="fa fa-search mr5"></i>
      검색하기
    </button>
  </div>

  <!-- 데이터테이블즈 -->
  <div class="user-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>년(yaer)</th>
          <th>월(month)</th>
          <th>수익합계</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items">
          <td>[[ item.year ]]</td>
          <td>[[ item.month ]]</td>
          <td>[[ item.amount ]]</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

</%block>

<%block name="js">

<script>
    var csrf_token = $('#csrf_token').html();
    var app = new Vue({
      el: '#vue',
      delimiters: ['[[', ']]'],
      created () {
        $.post( "/api_dealer_read", {
           csrfmiddlewaretoken: $('#csrf_token').html(),
           year: $('#filter_year').val()
         })
        .done(function( data ) {
          console.log('data.result -> ', data.result);
          app.items = data.result;
          app.sum_amount = data.sum_amount;
        });
      },
      data: {
        items: [],
        sum_amount: 0,
      },
      methods: {
        click_search: function(){
          $.post( "/api_dealer_read", {
             csrfmiddlewaretoken: $('#csrf_token').html(),
             year: $('#filter_year').val()
           })
          .done(function( data ) {
            console.log('data.result -> ', data.result);
            app.items = data.result;
            app.sum_amount = data.sum_amount;
          });
        }
      }
    })
</script>
</%block>
