<%inherit file="admin_frame.html"/>

<%block name="css">
</%block>

<%block name="title">
	<div class="row">
    	<div class="form-group col-sm-2">
      		<label>회원 관리</label>
    	</div>
    	<div class="form-group col-sm-10">
      		<label id="active_users"></label>
      		<label class="ml-3" id="session_one_users"></label>
      		<label class="ml-3" id="session_two_users"></label>
      		<label class="ml-3" id="session_three_users"></label>
      		<label class="ml-3" id="session_four_users"></label>
      		<label class="ml-3" id="session_five_users"></label>
      		<label class="ml-3" id="session_six_users"></label>
      		<label class="ml-3" id="expired_users"></label>
      		<label class="ml-3" id="deleted_users"></label>
    	</div>
	</div>
</%block>
<%block name="subtitle">TITAN VPN에 가입한 회원들을 관리할 수 있습니다</%block>
<%block name="content">
  <!-- 검색필터 -->
  <div class="row">
    <div class="form-group col-sm-2">
      <label>번호[=]</label>
      <input class="form-control" id="filter_id">
    </div>
    <div class="form-group col-sm-2">
      <label>이메일[like]</label>
      <input class="form-control" id="filter_email">
    </div>
    <div class="form-group col-sm-2">
      <label>사용자명[like]</label>
      <input class="form-control" id="filter_name">
    </div>
    <div class="form-group col-sm-2">
      <label>아이피[like]</label>
      <input class="form-control" id="filter_ip">
    </div>
    <div class="form-group col-sm-2">
      <label>삭제여부</label>
      <select class="form-control" id="filter_delete" name="filter_delete">
        <option value="">선택하세요</option>
        % for delete in delete_list:
          <option value="${ delete.code }">${ delete.name }</option>
        % endfor
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label>활성여부</label>
      <select class="form-control" id="filter_active" name="filter_active">
        <option value="">선택하세요</option>
        % for active in active_list:
          <option value="${ active.code }">${ active.name }</option>
        % endfor
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label>권한</label>
      <select class="form-control" id="filter_staff" name="filter_staff">
        <option value="">선택하세요</option>
        % for staff in staff_list:
          <option value="${ staff.code }">${ staff.name }</option>
        % endfor
      </select>
    </div>
  </div>
  <!-- 버튼 -->
  <div class='btn-store'>
    <button class="btn btn-fw primary" onclick="reload_data()">
      <i class="fa fa-search mr5"></i>
      검색하기
    </button>
  </div>
  <!-- 데이터테이블즈 -->
  <div class="user-table">
    <table id="user-inform" class="table display">
      <thead>
        <tr>
          <th>번호</th>
          <th>이메일</th>
          <th>사용자명</th>
          <th>삭제여부</th>
          <th>활성여부</th>
          <th>차단여부</th>
          <th>권한</th>
          <th>가입아이피</th>
          <th>가입일시</th>
          <th>추가정보</th>
          <th>서비스</th>
          <th>세션</th>
          <th>비번</th>
          <th>활성</th>
          <th>탈퇴</th>
          <th>앱퇴출</th>          
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</%block>

<%block name="js">
<script src="/static/admin/js/user.js"></script>
</%block>
