<%inherit file="../admin/admin_frame.html"/>

<%block name="css">
</%block>

<%block name="title">회원조회</%block>
<%block name="subtitle">총판 관리자의 추천인코드로 가입한 회원을 살펴볼 수 잇습니다</%block>

<%block name="content">
  <!-- 검색필터 -->
  <div class="row">
    <div class="form-group col-sm-2">
      <label>번호[=]</label>
      <input class="form-control" id="filter_id">
    </div>
    <div class="form-group col-sm-2">
      <label>이메일[like]</label>
      <input class="form-control" id="filter_email">
    </div>
    <div class="form-group col-sm-2">
      <label>사용자명[like]</label>
      <input class="form-control" id="filter_name">
    </div>
    <div class="form-group col-sm-2">
      <label>삭제여부</label>
      <select class="form-control" id="filter_delete" name="filter_delete">
        <option value="">선택하세요</option>
        % for delete in delete_list:
          <option value="${ delete.code }">${ delete.name }</option>
        % endfor
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label>활성여부</label>
      <select class="form-control" id="filter_active" name="filter_active">
        <option value="">선택하세요</option>
        % for active in active_list:
          <option value="${ active.code }">${ active.name }</option>
        % endfor
      </select>
    </div>
  </div>
  <!-- 버튼 -->
  <div class='btn-store'>
    <button class="btn btn-fw primary" onclick="reload_data()">
      <i class="fa fa-search mr5"></i>
      검색하기
    </button>
  </div>
  <!-- 데이터테이블즈 -->
  <div class="user-table">
    <table id="user-inform" class="table display">
      <thead>
        <tr>
          <th>회원번호</th>
          <th>이메일</th>
          <th>사용자명</th>
          <th>삭제여부</th>
          <th>활성여부</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</%block>

<%block name="js">
<script src="/static/admin/js/saler_user.js"></script>
</%block>
