<%inherit file="../admin_common/admin_frame.html"/>


<%block name="css">
<link rel="stylesheet" href="/static/support/support.css">
</%block>


<%block name="title">문의 관리</%block>
<%block name="subtitle">1:1문의 / 버그문의 / 개선요청에 관한 요청을 처리할 수 있습니다</%block>


<%block name="content">
<div id='vue'>
    <div class='su-filter'>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>메인구분</label>
                <select @change="onChange()" class="su-select form-control" id="main_sel">
                    % for code in code_group:
                        <option value='${code.code}'>${code.name}</option>
                    % endfor
                </select>
            </div>
        </div>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>서브구분</label>
                <select @change="onChange()" class="su-select form-control" id="sub_sel">
                </select>
            </div>
        </div>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>처리여부</label>
                <select @change="onChange()" class="su-select form-control" id="send_yn">
                    <option value='N'>미처리</option>
                    <option value='Y'>처리</option>
                    <option value='D'>삭제</option>
                </select>
            </div>
        </div>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>문의시점</label>
                <input v-on:blur="onChange()" id='target_date' type="text" class="form-control" placeholder="yyyy-mm-dd">
            </div>
        </div>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>동기화</label>
                <button class="btn btn-fw primary" v-on:click="allReset()">
                        <i class="fa fa-repeat mr5"></i>
                        새로고침
                </button>
            </div>
        </div>
    </div>
    <div class='su-con'>
        <div class='su-con-l'>
            <table class="table table-bordered" id='left_table'>
                <thead>
                    <tr class='headcolor'>
                        <td class='tac fs12'>
                            #
                        </td>
                        <td class='tac fs12'>
                            제목
                        </td>
                        <td class='tac fs12'>
                            등록시간
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class='su-tr' :id='[[item.id]]' v-for="item in items" v-on:click='selectItem($event)'>
                        <td class='tac fs10'>
                            [[item.id]]
                        </td>
                        <td class='fs10'>
                            [[item.title]]
                        </td>
                        <td class='w50 fs10 tac'>
                            [[item.regist_date]]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='su-con-r-empty' v-if="select_id == 0">
            <img class='null-img' src='/static/support/delete.png'>
            <br>선택된 문의가 없습니다
            <br>좌측의 문의를 선택해주세요
        </div>
        <div class='su-con-r' v-if="select_id != 0">
            <table class="table table-bordered">
                <tr>
                    <td class='tac w20p fs12 headcolor'>메인구분</td>
                    <td class='fs12'>[[select_store.main_type]]</td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>서브구분</td>
                    <td class='fs12'>[[select_store.sub_type]]</td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>이메일</td>
                    <td class='fs12'>[[select_store.email]]</td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>제목</td>
                    <td class='fs12'>[[select_store.title]]</td>
                </tr>
                <tr>
                <td colspan='2'>
                    <div class='pd10 mh300 fs12' v-html='select_store.content'>
                        [[select_store.content]]
                    </div>
                </td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>첨부파일(1)</td>
                    <td class='tac'>
                        <div class='null-file' v-if="select_store.file1 == ''">등록된 파일이 없습니다</div>
                        <img v-if="select_store.file1 != ''" class='su-img' :src='[[select_store.file1]]' onclick="imgViewer(this.src)">
                    </td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>첨부파일(2)</td>
                    <td class='tac'>
                        <div class='null-file' v-if="select_store.file2 == ''">등록된 파일이 없습니다</div>
                        <img v-if="select_store.file2 != ''" class='su-img' :src='[[select_store.file2]]' onclick="imgViewer(this.src)">
                    </td>
                </tr>
                <tr v-if="send_yn == 'D'">
                    <td class='tac fwbold fs12 pb0' colspan='2' style='padding: 50px;'>
                        이미 처리된 문의는 답장할 수 없습니다
                    </td>
                </tr>
                <tr v-if="send_yn == 'N'">
                    <td class='tac fwbold fs12 pb0' colspan='2'>
                        <i class="fa fa-envelope mr5"></i>답장 하기
                    </td>
                </tr>
                <tr v-if="send_yn == 'N'">
                    <td colspan='2'>
                      <label for="support_subject">제목</label>
                      <input class="form-control mb10" id="support_subject" name="support_subject">

                      <label for="support_content">내용</label>
                        <textarea class="form-control" id="support_content" rows="8" name="support_content"></textarea>
                    </td>
                </tr>
                <tr v-if="send_yn == 'N'">
                    <td class='tac' colspan='2'>
                      <button class="btn btn-fw danger" v-on:click='deleteItem([[select_id]])'>
                        <i class="fa fa-close mr5"></i>삭제
                      </button>
                        <button id='btn_send' class="btn btn-fw success" v-on:click='sendItem([[select_id, select_store.email]])'>
                            <i class="fa fa-send mr5"></i>답장
                        </button>
                    </td>
                </tr>
                <tr v-if="send_yn == 'Y'">
                    <td colspan='2'>
                        <label for="support_subject">제목</label>
                        <div class='complete-box mb10'>
                            [[select_store.send_title]]
                        </div>
                        <label for="support_content">내용</label>
                        <div class='complete-box' v-html='select_store.send_content'>
                            [[select_store.send_content]]
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    </div>
</div>
</%block>


<%block name="js">
<script src="/static/support/support.js"></script>
</%block>
