<%inherit file="../admin_common/admin_frame.html"/>

<%block name="css">
<style>
    .su-filter{
        display: flex;
    }
    .su-filter-item{
        margin-left: 20px;
        margin-right: 20px;
    }
    .su-con{
        display: flex;
        margin-top: 20px;
    }
    .su-con-l{
        border: solid 1px #f1eafd;
        flex: 1;
        margin-right: 5px;
    }
    .su-con-r{
        border: solid 2px #efeaff;
        flex: 1;
        margin-left: 5px;
    }
    .su-con-r-empty{
        border: solid 2px #efeaff;
        flex: 1;
        margin-left: 5px;
        height: 250px;
        text-align: center;
        padding-top: 40px;
    }
    .su-select{
        width: 150px;
    }
    .su-tr{
        transition: 0.3s;
        cursor: pointer;
    }
    .su-tr:hover{
        background-color: #f7f1ff;
    }
    .su-r-box{
        border: solid 1px red;
        display: flex;
    }
    .su-r-code{
        border: solid 1px red;
    }
    .su-r-name{
        border: solid 1px red;
    }
    .su-img{
        width: 150px;
        height: 100px;
        cursor: pointer;
    }
    .note-editable{
        border: solid 1px #dddddd !important;
        border-radius: 5px;
    }
    .null-file{
        font-size: 12px;
        color: red;
    }
    .null-img{
        width: 100px;
        margin-bottom: 10px;
    }
</style>
</%block>

<%block name="title">문의 관리</%block>
<%block name="subtitle">1:1문의 / 버그문의 / 개선요청에 관한 요청을 처리할 수 있습니다</%block>

<%block name="content">
<div id='vue'>
    <div class='su-filter'>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>메인구분</label>
                <select class="su-select form-control" id="main_sel">
                    % for code in code_group:
                        <option value='${code.code}'>${code.name}</option>
                    % endfor
                </select>   
            </div>
        </div>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>서브구분</label>
                <select class="su-select form-control" id="sub_sel">
                </select>   
            </div>
        </div>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>처리여부</label>
                <select class="su-select form-control" id="send_yn">
                    <option value='N'>미처리</option>
                    <option value='Y'>처리</option>
                </select>   
            </div>
        </div>
        <div class='su-filter-item'>
            <div class="form-group">
                <label>문의시점</label>
                <input id='target_date' type="text" class="form-control" placeholder="yyyy-mm-dd">
            </div>
        </div>
    </div>
    <div class='su-con'>
        <div class='su-con-l'>
            <table class="table table-bordered" id='left_table'>
                <thead>
                    <tr class='headcolor'>
                        <td class='tac fs12'>
                            #
                        </td>
                        <td class='tac fs12'>
                            제목
                        </td>
                        <td class='tac fs12'>
                            등록시간
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class='su-tr' :id='[[item.id]]' v-for="item in items" v-on:click='selectItem($event)'>
                        <td class='tac fs10'>
                            [[item.id]]
                        </td>
                        <td class='fs10'>
                            [[item.title]]
                        </td>
                        <td class='w50 fs10 tac'>
                            [[item.regist_date]]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='su-con-r-empty' v-if="select_id == 0">
            <img class='null-img' src='/static/support/delete.png'>
            <br>선택된 문의가 없습니다
            <br>좌측의 문의를 선택해주세요
        </div>
        <div class='su-con-r' v-if="select_id != 0">
            <table class="table table-bordered">
                <tr>
                    <td class='tac w20p fs12 headcolor'>메인구분</td>
                    <td class='fs12'>[[select_store.main_type]]</td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>서브구분</td>
                    <td class='fs12'>[[select_store.sub_type]]</td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>이메일</td>
                    <td class='fs12'>[[select_store.email]]</td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>제목</td>
                    <td class='fs12'>[[select_store.title]]</td>
                </tr>
                <tr>
                <td colspan='2'>
                    <div class='pd10 mh300 fs12'>
                        [[select_store.content]]
                    </div>
                </td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>첨부파일(1)</td>
                    <td class='tac'>
                        <div class='null-file' v-if="select_store.file1 == ''">등록된 파일이 없습니다</div>
                        <img v-if="select_store.file1 != ''" class='su-img' :src='[[select_store.file1]]'>
                    </td>
                </tr>
                <tr>
                    <td class='tac w20p fs12 headcolor'>첨부파일(2)</td>
                    <td class='tac'>
                        <div class='null-file' v-if="select_store.file2 == ''">등록된 파일이 없습니다</div>
                        <img v-if="select_store.file2 != ''" class='su-img' :src='[[select_store.file2]]'>
                    </td>
                </tr>
                <tr>
                    <td class='tac fwbold fs12 pb0' colspan='2'>
                        <i class="fa fa-envelope mr5"></i>답장 하기
                    </td>
                </tr>
                <tr>
                    <td colspan='2'>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class='tac' colspan='2'>
                        <button class="btn btn-fw success">
                            <i class="fa fa-send mr5"></i>답장
                        </button>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
    </div>
</div>
</%block>

<%block name="js">
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<script>

    var csrf_token = $('#csrf_token').html();
    var app = new Vue({
        el: '#vue',
        delimiters: ['[[', ']]'],
        created () {
            setTimeout(function(){
                var main_sel = $('#main_sel').val();
                var sub_sel = $('#sub_sel').val();
                var send_yn = $('#send_yn').val();
                var target_date = $('#target_date').val();

                console.log('main_sel -> ', main_sel);
                console.log('sub_sel -> ', sub_sel);
                console.log('send_yn -> ', send_yn);
                console.log('target_date -> ', target_date);

                $.post( "/api_support_getContent", {
                    csrfmiddlewaretoken: csrf_token, 
                    main_sel: main_sel,
                    sub_sel: sub_sel,
                    send_yn: send_yn,
                    target_date: target_date
                })
                .done(function( data ) {
                    console.log('data.result -> ', data.result);
                    app.items = data.result;
                })
            }, 1000); 
        },
        data: {
            items: [],
            select_id: 0,
            select_store: {

            }
        },
        methods: {
            selectItem: function(e){
                id = e.currentTarget.id;
                console.log('id -> ', id);

                this.select_id = id;

                $.post( "/api_support_getSelectContent", {
                    csrfmiddlewaretoken: csrf_token, 
                    id: id
                })
                .done(function( data ) {
                    console.log('data.result -> ', data.result);
                    app.select_store = data.result;
                })
            }
        }
    })

    $( function() {
        $( "#datetimepicker2" ).datepicker({
            dateFormat: 'yy-mm-dd',
            yearSuffix: "년",
            monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
            monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'],
            showMonthAfterYear: true
        });
    } );

    function makeSubOption(group_code){
        var csrf_token = $('#csrf_token').html();
        $.post( "/api_support_getSubOption", {
             csrfmiddlewaretoken: csrf_token, 
             group_code: group_code
        })
        .done(function( data ) {
            var r = data.result;

            $('#sub_sel').empty();

            console.log('r.length -> ', r.length);

            op_txt = "<option value='0'>전체</option>";
            $('#sub_sel').append(op_txt);
            for(var i=0; i<r.length; i++){
                op_txt = "<option value='"+r[i]['code']+"'>"+ r[i]['name'] +"</option>";
                $('#sub_sel').append(op_txt);
            }
            
        });
    }

    $( document ).ready(function() {
        var value = $('#main_sel').val();
        makeSubOption(value);

        Date.prototype.yyyymmdd = function() {
        var mm = this.getMonth() + 1; 
        var dd = this.getDate();

        return [this.getFullYear(), '-', (mm>9 ? '' : '0') + mm, '-', (dd>9 ? '' : '0') + dd].join('');
        };

        var date = new Date();
        var now = date.yyyymmdd()
        console.log('now -> ', now);
        $('#target_date').val(now);

        /*
        $('.summernote').summernote({
            height: 300,
            lang: 'ko-KR',
            popover: {        
                image: [], 
                link: [],  
                air: []
            },
        });
        */
    });

    $('#main_sel').change(function() {
        var value = $(this).val();
        console.log('hello -> ', value);

        makeSubOption(value);
    });
</script>
</%block>
