.user-filter {
  display: flex;
}
table > thead > tr {
  font-size: 12px;
  text-align: center;
}
table > tbody > tr {
  font-size: 12px;
  text-align: center;
}
.flex1{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-store{
  text-align: right;
  margin-bottom: 12px;
}
.dataTables_paginate{
  width: 100% !important;
  text-align: center !important;
  margin-top: 10px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: #ab6cff !important;
  border: solid 1px #ab6cff !important;
  color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background: #ab6cff !important;
  border: solid 1px #ab6cff !important;
  color: #ffffff !important;
}
.inner-view{
  display: none;
  padding: 5px;
  margin-top: 20px;
  height:860px;
  width: 1100px;
  margin: 0 auto;
}
.view-left{
  margin-right: 10px;
  border-radius: 10px;
  padding-top: 20px;
  border: solid 3px #bc90ff;
  width: 50%;
}
.view-right{
  margin-left: 10px;
  padding-top: 18px;
  border-radius: 10px;
  border: solid 3px #bc90ff;
  width: 50%;
}
.inner-title{
  display: none;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
.tar{
  text-align: center;
}
.view-input{
  width: 450px;
  margin: 0 auto;
}
.label-margin {
  margin-left: 45px;
}
.r-icon{
  color: #7f54ff;
  margin-right: 8px;
}
.display .dataTable .no-footer{
  width: 100%;
}
thead{
  background: #f1e9ff;
}
.toptop{
  display: flex;
  border: solid 1px #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
