<%inherit file="../admin/admin_frame.html"/>

<%block name="css">
</%block>

<%block name="title">${box_title}</%block>
<%block name="subtitle">${box_desc}</%block>

<%block name="content">
  <!-- 검색필터 -->
  <div class="row">
    <div class="form-group col-sm-2">
      <label>년도</label>
      <select class="form-control" id="year_selectbox">
        % for year in year_list:
          <option value="${ year }">${ year }</option>
        % endfor
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label>월</label>
      <select class="form-control" id="month_selectbox">
          <option value="1">1월</option>
          <option value="2">2월</option>
          <option value="3">3월</option>
          <option value="4">4월</option>
          <option value="5">5월</option>
          <option value="6">6월</option>
          <option value="7">7월</option>
          <option value="8">8월</option>
          <option value="9">9월</option>
          <option value="10">10월</option>
          <option value="11">11월</option>
          <option value="12">12월</option>
      </select>
    </div>
  </div>
  <div class='btn-store'>
    <button class="btn btn-fw primary" onclick="click_search()">
      <i class="fa fa-search mr5"></i>
        검색하기
    </button>
  </div>
  <div class="chart-box" id="chart_box">
    <canvas id="userChart" height="450" width="1500"></canvas>
  </div>
  % if type == 'user':
  <div class="chart-txt">
      * 활성화 수 기록은 2020년 03월 29일 이후로 적용되었습니다<br>
      * 그 이전 활성화 수는 전부 0 으로 표기되오니 참고바랍니다
  </div>
  % elif type == 'money':
  <div class="chart-txt">
      * 무통장은 "위쳇(수동)", "무통장"을 포함합니다<br>
      * 결제모듈은 사용자가 결제모듈을 이용하여 결제된 데이터입니다<br>
      * usd, cny는 단위가 작아 눈으로 확인하기 어려우므로 마우스를 차트위로 올려 확인바랍니다<br>
  </div>
  % endif
<input type="text" id="endpoint" value="${endpoint}" hidden>
</%block>

<%block name="js">
<script src="/static/chart/js/dd.js"></script>
</%block>
