<%inherit file="../admin/admin_frame.html"/>

<%block name="css">
</%block>

<%block name="title">${box_title}</%block>
<%block name="subtitle">${box_desc}</%block>

<%block name="content">
  <div class="chart-box" id="chart_box">
    <canvas id="userChart" height="450" width="1500"></canvas>
  </div>
  % if type == 'rec':
  <div class="chart-txt">
      * 추천인 보유수 Top 20 을 차트로 표기하고있습니다<br>
  </div>
  % endif
<input type="text" id="endpoint" value="${endpoint}" hidden>
</%block>

<%block name="js">
<script src="/static/chart/js/total.js"></script>
</%block>
