<link rel="stylesheet" href="/static/common/libs/font-awesome/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/static/common/libs/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/static/common/assets/css/theme/primary.css" type="text/css" />
<link rel="stylesheet" href="/static/common/assets/css/app.css" type="text/css" />
<link rel="stylesheet" href="/static/common/assets/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/common/assets/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/admin/style.css" type="text/css" />

<link rel="stylesheet" href="/static/cdn/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="/static/cdn/jquery.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="/static/cdn/summernote.css">

<link rel="stylesheet" href="/static/common/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" type="text/css" />
