<%inherit file="admin_frame.html"/>

<%block name="css">
</%block>

<%block name="title">광역스킬</%block>
<%block name="subtitle">TITAN VPN 전체 사용자에게 서비스 시간을 추가할 수 있습니다</%block>

<%block name="content">

  <!-- 데이터테이블즈 -->
  <div class="user-table">
    <table id="user-inform" class="table display">
      <thead>
        <tr>
          <th>번호</th>
          <th>이메일</th>
          <th>사용자명</th>
          <th>삭제여부</th>
          <th>활성여부</th>
          <th>권한</th>
          <th>가입일시</th>
          <th>추가정보</th>
          <th>서비스</th>
          <th>세션</th>
          <th>비번</th>
          <th>활성</th>
          <th>탈퇴</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</%block>

<%block name="js">
<script src="/static/admin/js/event.js"></script>
</%block>
