<%include file="admin_head.html"/>
<%include file="admin_css.html"/>


<%block name="css">
<link rel="stylesheet" href="/static/admin/css/login.css">
</%block>


<div class="login-container">
  <div class="common-title">
    <img class="common-logo" src='/static/admin/img/titan.png'>
    <div>TITAN Admin</div>
  </div>
  <div class="form-group">
    <label for="login_id"></label>
    <input type="text" class="form-control common-login-input" id="login_id" placeholder="아이디를 입력해주세요">
  </div>

  <div class="form-group">
    <label for="login_pw"></label>
    <input type="password" class="form-control common-login-input" id="login_pw" placeholder="비밀번호를 입력해주세요">
  </div>

  <div class="button">
    <button id="btn-Yes" class="btn btn-lg btn-block btn-login" onclick='adminLogin()'>로 그 인</button>
  </div>
</div>


<%include file="admin_js.html"/>
<%block name="js">
<script src="/static/admin/js/login.js"></script>
</%block>
