.tac{
    text-align: center;
}
.w20p{
    width: 20%;
}
.w50{
    width: 50px;
}
.pd10{
    padding: 10px;
}
.mh300{
    min-height: 300px;
}
.fwbold{
    font-weight: bold;
}
.fs10{
    font-size: 10px;
}
.fs12{
    font-size: 12px;
}
.mr5{
    margin-right: 5px;
}
.pb0{
    padding-bottom: 0px;
}
.headcolor{
    background-color: #f4f4f4;
}