<%inherit file="../admin/admin_frame.html"/>

<%block name="css">
</%block>

<%block name="title">일별 가입계정 및 활성계정 통계</%block>
<%block name="subtitle">TITAN VPN에 일별 가입계정 및 활성계정 통계를 차트로 확인할 수 있습니다.</%block>

<%block name="content">
  <!-- 검색필터 -->
  <div class="row">
    <div class="form-group col-sm-2">
      <label>년도</label>
      <select class="form-control" id="year_selectbox">
        % for year in year_list:
          <option value="${ year }">${ year }</option>
        % endfor
      </select>
    </div>
    <div class="form-group col-sm-2">
      <label>월</label>
      <select class="form-control" id="month_selectbox">
          <option value="1">1월</option>
          <option value="2">2월</option>
          <option value="3">3월</option>
          <option value="4">4월</option>
          <option value="5">5월</option>
          <option value="6">6월</option>
          <option value="7">7월</option>
          <option value="8">8월</option>
          <option value="9">9월</option>
          <option value="10">10월</option>
          <option value="11">11월</option>
          <option value="12">12월</option>
      </select>
    </div>
  </div>
  <!-- 버튼 -->
  <div class='btn-store'>
    <button class="btn btn-fw primary" onclick="click_search()">
      <i class="fa fa-search mr5"></i>
        검색하기
    </button>
  </div>
  <body>
  <div class="chart-box" id="chart_box">
    <canvas id="userChart" height="450" width="1500"></canvas>
  </div>
</body>
</%block>

<%block name="js">
<script src="/static/chart/js/dd_user.js"></script>
</%block>
