<%include file="../admin_common/admin_head.html"/>

<%block name="css">
<style>
.login-container {
  min-width: 240px !important;
  width: 450px;
  margin: auto;
  box-shadow: 1px 1px 1px 1px #aaaaaa;
  padding: 30px;
  background-color: #FFFFFF;
  line-height: 1;
  border-radius: 10px;
}
.common-login-input{
  background-color: #E5EBEB;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  height: 45px;
}
.common-title {
  color: black;
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 15px;
}
.button {
  padding-top: 15px;
}
.btn-login{
  background-color: #7d59da;
  color: #ffffff;
  font-size: 16px;
}
</style>
</%block>

<div class="login-container">
  <div class="common-title">TITAN Admin</div>
  <div class="form-group">
    <label for="login_id"></label>
    <input type="text" class="form-control common-login-input" id="login_id" placeholder="아이디를 입력해주세요">
  </div>

  <div class="form-group">
    <label for="login_pw"></label>
    <input type="password" class="form-control common-login-input" id="login_pw" placeholder="비밀번호를 입력해주세요">
  </div>

  <div class="button">
    <button id="btn-Yes" class="btn btn-lg btn-block btn-login" onclick='adminLogin()'>로 그 인</button>
  </div>
</div>
<%include file="../admin_common/admin_jquery.html"/>
<%block name="js">
<script>

    $("#login_pw").keydown(function(key) {
        if (key.keyCode == 13) {
            adminLogin();
        }
    });
  
  function adminLogin(){

    var csrf_token = $('#csrf_token').html();
    var login_id = $('#login_id').val();
    var login_pw = $('#login_pw').val();

    console.log('csrf_token -> ', csrf_token);
    console.log('login_id -> ', login_id);
    console.log('login_pw -> ', login_pw);



    if(login_id == ''){
      $('#login_id').focus();
      return false;
    }
    if(login_pw == ''){
      $('#login_pw').focus();
      return false;
    }

    $.post( "/api_login", {
       csrfmiddlewaretoken: csrf_token, 
       input_id: login_id,
       input_pw: login_pw
    })
    .done(function( data ) {
      if(data.result == 200){
        window.location.href = '/';
      }
      else if(data.result == 300){
        Swal.fire({
          title: '알림',
          text: '계정 잠김',
          type: 'error',
          confirmButtonColor: swalColor('error')
        })
      }
      else if(data.result == 400){
        Swal.fire({
          title: '알림',
          text: '해킹 시도 감지 - 법적으로 처벌 받을 수 있습니다',
          type: 'error',
          confirmButtonColor: swalColor('error')
        })
      }
      else if(data.result == 600){
        Swal.fire({
          title: '알림',
          text: '아이디 존재 X or 비번 틀림',
          type: 'error',
          confirmButtonColor: swalColor('error')
        })
      }
      else if(data.result == 700){
        Swal.fire({
          title: '알림',
          text: '접근 권한 없음 -> 불법 접근으로 인해 계정잠금 처리',
          type: 'error',
          confirmButtonColor: swalColor('error')
        })
      }
      else{
        Swal.fire({
          title: '알림',
          text: '알 수 없는 오류 - 관리자에게 문의하세요',
          type: 'error',
          confirmButtonColor: swalColor('error')
        })
      }
    });
  }
</script>
</%block>
