<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../base_webview.html"/>

<%block name="css">
</%block>

<%block name="content">
<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section ptb-100 background-img"
             style="background: url('/static/new/img/hero-bg-1.jpg')no-repeat center center / cover; padding-bottom: 30px !important;">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">결제</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--contact us section start-->
    <section class="contact-us gray-light-bg ptb-100">
        <div class="container">
            <div class="row">
                Titan VPN establishes and publishes a privacy policy as follows in order to protect the personal information of the information subject (customer) in accordance with Article 30 of the Personal Information Protection Act and to ensure that the grievances related to the information are dealt with quickly and smoothly. <br>
                <br>
                1. Titan VPN, which aims to process personal information, handles personal information for the following purposes and is not used for any other than: <br>
                  - Identifying and providing customer service, maintaining and managing membership, paying for goods/services supply, providing and delivering goods/services, and providing members-only events according to the customer's intention to sign up<br>
                <br>
                2. Personal information processing and preservation period 1 Titan VPN processes and retains personal information within the privacy period or period of use agreed under the law when collecting personal information from the information subject. <br>
                  ② Specific personal information processing and retention periods are as follows: <br>
                    - Customer registration and management: Until service contract or membership cancellation, but if bond or debt relationship is outstanding, up to settlement of that bond and debt relationship. <br>
                    - 5 years of e-commerce contract, withdrawal of subscription, payment, quantity, etc. <br>
                <br>
                3. Titan VPN, which provides personal information to third parties, does not provide personal information, such as consent of the information subject and special provisions of the Act, except in the case of Article 17 of the Personal Information Protection Act. <br>
                <br>
                4. The rights, duties and methods of exercise of information subjects and legal representatives may at any time exercise the following rights concerning the protection of personal information within Titan VPN: <br>
                  1. Need to access personal information<br>
                  2. Request correction in case of personal information errors <br>
                  3. Demands for deletion <br>
                  4. Need to stop processing <br>
                <br>
                5. The Personal Information Item Titan VPN handles the following personal information items: <br>
                  - Payment information including name, date of birth, mobile phone number, sex, email address, credit card number and bank account number <br>
                <br>
                6. Personal information 1 If it becomes unnecessary, such as dissolution of Titan VPN, expiration of the period of personal information retention, and achievement of the purpose of processing, personal information is immediately destroyed. <br>
                  ② Titan VPN destroys personal information in the following ways: <br>
                    - Electronic files: file deletion and related data deletion<br>
                    - Handwritten documents: Crushed or incineration <br>
                <br>
                7. Titan VPN shall take the following countermeasures to secure the safety of personal information: <br>
                  - Administrative measures: Establishing and implementing internal management plans, regular training for employees, employees, employees, etc. <br>
                  - Technical measures: Password setting for personal information processing system (or computer where personal information is stored), installation of security programs such as vaccine software, and encryption of files where personal information is stored <br>
                  - Physical countermeasures: date of place where personal information is stored and stored, access control, etc. <br>
                <br>
                8. Matters related to the installation, operation and rejection of the automatic personal information collection system <br>
                  ① Titan VPN uses 'cookies' that store and recall user information from time to time to provide personalized service to users.<br>
                  ② Cookies are a small amount of information sent to the user's computer browser by the server (http), which is used to run the website, and are also stored on the user's PC computer's hard disk.<br>
                <br>
                A. Cookie Purpose: User Identification<br>
                Used to provide optimized information to users.<br>
                B. I Cookie Installation, Operation, and Deny: Tools at the top of your web browser > Internet Options >Internet Options >Information Menu, you can refuse to save cookies.<br>
                C. Refusing to store cookies can cause difficulties in using customized services.<br>
                <br>
                9. Titan VPN, which is in charge of personal information protection, is in charge of handling personal information, and the person in charge of personal information protection shall be designated as follows to handle complaints and damage relief from the information subject regarding personal information processing. <br>
                ▶ Personal Information Protection Officer (business owner or representative) <br>
                Name: DAVID HEETAE LEE<br>
                Contact: +82070-7014-8000, utocs@naver.com <br>
                <br>
                10. Changing Privacy Policy This Privacy Policy will take effect on August 1, 2019.<br>
            </div>
        </div>
    </section>
    <!--contact us section end-->

</div>
<!--body content wrap end-->
</%block>

<%block name="js">
</%block>
