<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../base_webview.html"/>

<%block name="css">
</%block>

<%block name="content">
<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section ptb-100 background-img"
             style="background: url('/static/new/img/hero-bg-1.jpg')no-repeat center center / cover; padding-bottom: 30px !important;">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">退款政策</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--contact us section start-->
    <section class="contact-us gray-light-bg ptb-100">
        <div class="container">
            <div class="row">
                退款/取消申请可通过以下方法进行。<br>
                · 直接咨询客服中心(1对1咨询,电子邮件：master@titanvpn.kr)<br>
                * 取消结算及退款将在收到退款申请后7日内处理。<br>
                * 但是,因个人原因退款申请将被记录,发生2次以上时无法退款。<br>
                <br>
                [退款程序 ]<br>
                在线退款申请 -> 客服中心受理退款申请 -> 确认是否可以退款-> 取消结算或转账退款金<br>
                <br>
                不能退款/取消的情况如下。<br>
                · 付款后7天订单过期的情况<br>
                · 因个人原因而反复退款2次以上<br>
                * 上述条件中如涉及一件,则无法退款,敬请注意。<br>
                <br>
                可全额退款/取消的情况如下：<br>
                1.因发生服务运营问题而从本公司得不到网络服务的情况下，从结算日起算7日内 <br>
                2.本公司的服务运营发生问题一日以上,而使用天数未超过结算商品中30%的天数<br>
                <br>
                其他情况下部分退款处理,各商品退款政策如下。<br><br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td>商品种类 </td>
                      <td>商品名</td>
                      <td>内容</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>单品</td>
                      <td>1个在线</td>
                      <td>º 使用时间在7天以内时全额退款</td>
                    </tr>
                    <tr>
                      <td>综合商品</td>
                      <td>2到6个同时在线</td>
                      <td>º 使用时间在7天以内时全额退款</td>
                    </tr>
                  <tbody>
                </table>
            </div>
        </div>
    </section>
    <!--contact us section end-->

</div>
<!--body content wrap end-->
</%block>

<%block name="js">
</%block>
