<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../base_webview.html"/>

<%block name="css">
</%block>

<%block name="content">
<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section ptb-100 background-img"
             style="background: url('/static/new/img/hero-bg-1.jpg')no-repeat center center / cover; padding-bottom: 30px !important;">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">REFUND POLICY</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--contact us section start-->
    <section class="contact-us gray-light-bg ptb-100">
        <div class="container">
            <div class="row">
                You may request a refund/cancellation in the following way:<br>
                ·Please contact Customer Service (1:1 inquiry, email: master@titanvpn.kr)<br>
                * Refunds or cancellations will be processed within 7 business days once we receive your refund request.<br>
                * Refund requests for buyer’s remorse will be recorded and unaccepted if done more than once.    <br>
                <br>
                [Refund procedure]<br>
                Submit a refund application online -> Customer Service receives your refund request -> Review your request -> Process with cancellation or refund<br>
                <br>
                No refund/cancellation will be issued in the following cases:<br>
                · Beyond 7 days after purchase.<br>
                · Requesting refund due to simple remorse repeatedly more than 1 time.   <br>
                <br>
                Full refund/cancellation will be issued in the following cases:<br>
                · In case of service operational issues but unavailable to receive service by TITAN NETWORKS within 7 days of your initial purchase.<br>
                · In case of service operational issues occurring more than 1 day and customer used less than 30% of the purchased product.<br>
                <br>
                In other cases, partial refunds will be processed. The chart below explains refund policy for each type of product. <br><br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td>Product Type</td>
                      <td>Product Name</td>
                      <td>Content</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Single Product</td>
                      <td>1 session</td>
                      <td>º Full refund within 7 day period</td>
                    </tr>
                    <tr>
                      <td>Multi Product</td>
                      <td>2-6 session</td>
                      <td>º Full refund within 7 day period</td>
                    </tr>
                  <tbody>
                </table>
            </div>
        </div>
    </section>
    <!--contact us section end-->

</div>
<!--body content wrap end-->
</%block>

<%block name="js">
</%block>
