.su-filter{
    display: flex;
}
.su-filter-item{
    margin-left: 20px;
    margin-right: 20px;
}
.su-con{
    display: flex;
    margin-top: 20px;
}
.su-con-l{
    border: solid 1px #f1eafd;
    flex: 1;
    margin-right: 5px;
    min-height: 800px;
}
.su-con-r{
    border: solid 2px #efeaff;
    flex: 1;
    margin-left: 5px;
}
.su-con-r-empty{
    border: solid 2px #efeaff;
    flex: 1;
    margin-left: 5px;
    height: 250px;
    text-align: center;
    padding-top: 40px;
}
.su-select{
    width: 150px;
}
.su-tr{
    transition: 0.3s;
    cursor: pointer;
}
.su-tr:hover{
    background-color: #f7f1ff;
}
.su-r-box{
    border: solid 1px red;
    display: flex;
}
.su-r-code{
    border: solid 1px red;
}
.su-r-name{
    border: solid 1px red;
}
.su-img{
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.note-editable{
    border: solid 1px #dddddd !important;
    border-radius: 5px;
}
.null-file{
    font-size: 12px;
    color: red;
}
.null-img{
    width: 100px;
    margin-bottom: 10px;
}
label {
    font-size: 14px;
}
#exampleFormControlTextarea2 {
    margin-bottom: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.complete-box{
    font-size: 14px;
    border: solid 1px #dddddd;
    padding: 10px;
    border-radius: 5px;
}
