<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../base_webview.html"/>

<%block name="css">
</%block>

<%block name="content">
<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section ptb-100 background-img"
             style="background: url('/static/new/img/hero-bg-1.jpg')no-repeat center center / cover; padding-bottom: 30px !important;">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">隐私权政策</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--contact us section start-->
    <section class="contact-us gray-light-bg ptb-100">
        <div class="container">
            <div class="row">
                Shanghai Trading Co.有限公司根据大韩民国个人信息保护法第30条,为了保护信息主体(顾客)的个人信息,并迅速,灵活地处理与此相关的问题,制定了以下个人信息处理指南并予以公开。<br>
                <br>
                1. 个人信息处理目的 Shanghai Trading Co.为下列目的处理个人信息而不用于下列目的以外的用途:<br>
                 - 确认客户的注册意向,对客户提供服务的本人识别、认证，维持及管理会员资格,物品或服务供应的金额结算,物品或服务的供应及配送，提供会员专用活动等<br>
                 <br>
                2. 个人信息的处理及保存期限<br>
                  1。 在获得同意的个人信息的使用期间或信息拥有的条款及法律规定的个人信息使用期间内和信息拥有的情况下，处理个人信息<br>
                  2。 具体个人信息处理及保存时间如下:<br>
                    - 客户注册和管理:到服务使用合同或会员注册终止时,但债权、债务关系残余时，到该债权、债务关系终止时<br>
                    - 电子商务中的合同，撤销认购，付款和财物等供应记录:五年<br>
                 <br>
                3. 个人信息的第三方提供<br>
                  Shanghai Trading Co.除信息主体另有同意、大韩民国法律的特殊规定等符合《个人信息保护法》第17条的情况外,不向第三方提供个人信息。<br>
                <br>
                4. 信息主体和法定代理人的权利、义务和行使方法<br>
                  信息主体可随时对Shanghai Trading Co.行使下列所有的个人资料保护相关权利:<br>
                    1. 个人信息阅览要求<br>
                    2. 在个人信息有误等情况下的更正要求<br>
                    3. 删除要求<br>
                    4. 暂停处理的要求<br>
                 <br>
                5. 处理的个人信息项目、<br>
                  Shanghai Trading Co.正在处理下列个人信息项目:<br>
                    -姓名、出生年月、手机号码、性别、电子邮箱、信用卡号码、银行账号等结算信息<br>
                <br>
                6. 个人信息的销毁<br>
                  1 Shanghai Trading Co.在个人信息保存时间已过、达成处理目的等个人信息变得不必要的情况下,应立即销毁相应的个人信息。<br>
                  2 Shanghai Trading Co.通过以下方法销毁个人信息:<br>
                    - 电子文件:删除文件和相关数据<br>
                    - 纸质文件:粉碎或销毁<br>
                 <br>
                7. 确保个人信息安全的措施 <br>
                  Shanghai Trading Co.为确保个人信息安全,采取了以下措施:<br>
                    - 管理措施:制定和实施内部管理计划、对工作人员进行定期培训<br>
                    - 技术措施:设置个人信息处理系统(或储存个人信息的电脑)的密码等访问权限管理、设置杀毒软件等保安程序,加密化储存个人信息的文件<br>
                    - 物理措施:关闭储存个人信息的保管场所、出入控制等<br>
                <br>
                8. 个人信息自动收集装置的设置,运营和拒绝的相关事项<br>
                  1 Shanghai Trading Co.为向用户提供个性化定制服务,采用了存储使用信息后即可随时传呼的"Cookie"。<br>
                  2 Cookie是一种可让网站服务器将数据存储于客户端或从客户端中读取数据的中立技术。<br>
                    a Cookie的使用目的:用户识别<br>
                    b 设置,运营及禁止Cookie:通过浏览器上端的工具>网络选项>个人信息菜单的选项,可停用Cookie。<br>
                    c 如果停用Cookie,您可能无法享受最佳的服务。<br>
                <br>
                9. 个人信息保护负责人Shanghai Trading Co.负责个人信息处理的相关业务,为方便处理个人信息及相关信息主体的投诉和损失补偿,特此指派了个人信息负责人，如下所示:<br>
                  ▶ 个人信息保护负责人(业主或代表人)<br>
                  姓名:DAVID HEETAE LEE<br>
                  联系电话:070-7014-8000, utocs@naver.com<br>
                 <br>
                10,个人信息处理方针变更 <br>
                  本个人信息处理方针自2019. 8. 1实施 <br>
            </div>
        </div>
    </section>
    <!--contact us section end-->

</div>
<!--body content wrap end-->
</%block>

<%block name="js">
</%block>
