<%inherit file="../admin_common/admin_frame.html"/>

<%block name="css">
<style>
  .notification-write-btn-container{
    text-align: right;
  }
  .input-margin input {
    margin-left: 10px;
  }
  .input-margin {
    font-size: 15px;
    display: flex;
  }
  #summernote_content1, #summernote_content2, #summernote_content3, #summernote_content4{
    border: solid 1px #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .note-codable { background-color: white !important; color: black !important; }

  .country-logo{
      width: 20px;
      margin-left: 5px;
      margin-top: -5px;
  }
  .flex-item{
    flex: 1;
  }
</style>
</%block>

<%block name="title">회사관리</%block>
<%block name="subtitle">회사소개</%block>

<%block name="content">
<div class="box-container">

  <div class="box">
    <div class="box-body">
      <div class="box-body-input input-margin">

        <div class="flex-item">
          <input type="radio" name="sum" value="1" checked>
          <img class="country-logo" src='/static/image/usa.png'>
          <span>영어</span>
        </div>

        <div class="flex-item">
          <input type="radio" name="sum" value="2">
          <img class="country-logo" src='/static/image/korea.png'>
          <span>한국어</span>
        </div>

        <div class="flex-item">
          <input type="radio" name="sum" value="3">
          <img class="country-logo" src='/static/image/japan.png'>
          <span>일본어</span>
        </div>

        <div class="flex-item">
          <input type="radio" name="sum" value="4">
          <img class="country-logo" src='/static/image/china.png'>
          <span>중국어</span>
        </div>

      </div>

      <div id="summernote_content1">
        <div class="summernote" id="summernote1"></div>
      </div>
      <div id="summernote_content2" style="display: none">
        <div class="summernote" id="summernote2"></div>
      </div>
      <div id="summernote_content3" style="display: none">
        <div class="summernote" id="summernote3"></div>
      </div>
      <div id="summernote_content4" style="display: none">
        <div class="summernote" id="summernote4"></div>
      </div>


      <div class='notification-write-btn-container'>
            <button class="btn btn-fw warn" id="notice_save" onclick="click_edit()">수정</button>
      </div>
    </div>

  </div>

</div>
</%block>

<%block name="js">
<script>
$(document).ready(function() {
    $('.summernote').on('summernote.init', function () {
        //$('.summernote').summernote('codeview.activate');
    }).summernote({
        height: 500,
        lang: 'ko-KR',
        popover: {         //팝오버 설정

    	        image: [], //이미지 삭제

    	        link: [],  //링크 삭제

    	        air: []

    	  }
    });
    $('#summernote1').summernote('code', '${en}');
});

$('input[type=radio][name=sum]').on('click', function () {
var chkValue = $('input[type=radio][name=sum]:checked').val();
  console.log(chkValue)
  if(chkValue == '1') {
      $('#summernote1').summernote('code', '${en}');
      $('#summernote_content1').css('display', 'block');
      $('#summernote_content2').css('display', 'none');
      $('#summernote_content3').css('display', 'none');
      $('#summernote_content4').css('display', 'none');
  }
  else if(chkValue == '2') {
      $('#summernote2').summernote('code', '${ko}');
      $('#summernote_content1').css('display', 'none');
      $('#summernote_content2').css('display', 'block');
      $('#summernote_content3').css('display', 'none');
      $('#summernote_content4').css('display', 'none');
  }
  else if(chkValue == '3') {
      $('#summernote3').summernote('code', '${ja}');
      $('#summernote_content1').css('display', 'none');
      $('#summernote_content2').css('display', 'none');
      $('#summernote_content3').css('display', 'block');
      $('#summernote_content4').css('display', 'none');
  }
  else if(chkValue == '4') {
      $('#summernote4').summernote('code', '${zh}');
      $('#summernote_content1').css('display', 'none');
      $('#summernote_content2').css('display', 'none');
      $('#summernote_content3').css('display', 'none');
      $('#summernote_content4').css('display', 'block');
  }
});

function click_edit(){
  var enSum = $('#summernote1').summernote('code');
  var koSum = $('#summernote2').summernote('code');
  var jaSum = $('#summernote3').summernote('code');
  var zhSum = $('#summernote4').summernote('code');
  var chkValue = $('input[type=radio][name=sum]:checked').val();

  var csrf_token = $('#csrf_token').html();

  if(enSum == ''){
      Swal.fire({
          title: '알림',
          text: '내용 입력 없이 저장할 수 없습니다',
          type: 'error',
          confirmButtonColor: "#dc3545"
      })
    return 1;
  }
  else if(koSum == ''){
      Swal.fire({
          title: '알림',
          text: '내용 입력 없이 저장할 수 없습니다',
          type: 'error',
          confirmButtonColor: "#dc3545"
      })
    return 1;
  }
  else if(jaSum == ''){
      Swal.fire({
          title: '알림',
          text: '내용 입력 없이 저장할 수 없습니다',
          type: 'error',
          confirmButtonColor: "#dc3545"
      })
    return 1;
  }
  else if(zhSum == ''){
      Swal.fire({
          title: '알림',
          text: '내용 입력 없이 저장할 수 없습니다',
          type: 'error',
          confirmButtonColor: "#dc3545"
      })
    return 1;
  }
    Swal.fire({
        title: '알림',
        html:
            '<div style="font-size: 14px;">회사소개의 수정은 시스템의 중대한 영향을 미칩니다</div>'+
            '<div style="font-size: 14px;">정말로 저장하시겠습니까?</div>',
        type: 'error',
        confirmButtonColor: "#ea2e49",
        showCancelButton: true,
        confirmButtonText: '저장',
        cancelButtonText: "취소"
    }).then((result) => {
        if (result.value) {
            if(chkValue == '1') {
                $.post("/api_company_edit1", {
                    csrfmiddlewaretoken: csrf_token,
                    enSum: enSum
                })
                    .done(function (data) {
                        if (data.result == '200') {
                            Swal.fire({
                                title: '알림',
                                text: '회사소개가 성공적으로 변경되었습니다.',
                                type: 'success',
                                confirmButtonColor: "#22b66e"
                            }).then((ok) => {
                                if (ok) {
                                    window.location.href = '/company/about'
                                }
                            })
                        }
                    })
            }
            else if(chkValue == '2') {
                $.post("/api_company_edit2", {
                    csrfmiddlewaretoken: csrf_token,
                    koSum: koSum
                })
                    .done(function (data) {
                        if (data.result == '200') {
                            Swal.fire({
                                title: '알림',
                                text: '회사소개가 성공적으로 변경되었습니다.',
                                type: 'success',
                                confirmButtonColor: "#22b66e"
                            }).then((ok) => {
                                if (ok) {
                                    window.location.href = '/company/about'
                                }
                            })
                        }
                    })
            }
            else if(chkValue == '3') {
                $.post("/api_company_edit3", {
                    csrfmiddlewaretoken: csrf_token,
                    jaSum: jaSum
                })
                    .done(function (data) {
                        if (data.result == '200') {
                            Swal.fire({
                                title: '알림',
                                text: '회사소개가 성공적으로 변경되었습니다.',
                                type: 'success',
                                confirmButtonColor: "#22b66e"
                            }).then((ok) => {
                                if (ok) {
                                    window.location.href = '/company/about'
                                }
                            })
                        }
                    })
            }
            else if(chkValue == '4') {
                $.post("/api_company_edit4", {
                    csrfmiddlewaretoken: csrf_token,
                    zhSum: zhSum
                })
                    .done(function (data) {
                        if (data.result == '200') {
                            Swal.fire({
                                title: '알림',
                                text: '회사소개가 성공적으로 변경되었습니다.',
                                type: 'success',
                                confirmButtonColor: "#22b66e"
                            }).then((ok) => {
                                if (ok) {
                                    window.location.href = '/company/about'
                                }
                            })
                        }
                    })
            }
        }
    })
}

</script>
</%block>
