<%inherit file="../admin_common/admin_frame.html"/>


<%block name="css">
<style>
  .nt-add{
    text-align: right;
    margin-top: 10px;
  }
  #summernote_content1 {
    border: solid 1px #dddddd;
    border-radius: 5px;
  }
  .xxx-line{
    border: solid 1px #d7beff;
    padding: 10px;
    margin-bottom: 5px;
  }
</style>
</%block>


<%block name="title">공지사항</%block>
<%block name="subtitle">사용자에게 공지할 공지사항을 등록할 수 있습니다</%block>


<%block name="content">
<div class="box-container">
    <div class='xxx-line'>
      <div>
        제목 (한국)
      </div>
      <input type="text" class="form-control" id='title_ko'>
      <div>
        내용 (한국)
      </div>
      <div id="summernote_content1">
        <div class="summernote" id="summernote_ko"></div>
      </div>
    </div>

    <div class='xxx-line'>
      <div>
        제목 (영어)
      </div>
      <input type="text" class="form-control" id='title_en'>
      <div>
        내용 (영어)
      </div>
      <div id="summernote_content1">
        <div class="summernote" id="summernote_en"></div>
      </div>
    </div>

    <div class='xxx-line'>
      <div>
        제목 (중국어)
      </div>
      <input type="text" class="form-control" id='title_zh'>
      <div>
        내용 (중국어)
      </div>
      <div id="summernote_content1">
        <div class="summernote" id="summernote_zh"></div>
      </div>
    </div>

    <div class='xxx-line'>
      <div>
        제목 (일본어)
      </div>
      <input type="text" class="form-control" id='title_ja'>
      <div>
        내용 (일본어)
      </div>
      <div id="summernote_content1">
        <div class="summernote" id="summernote_ja"></div>
      </div>
    </div>

    <div class='nt-add'>
      <button class="btn btn-fw primary" onclick='addPost()'>
        글등록
      </button>
    </div>
</div>
</%block>


<%block name="js">
<script>
$(document).ready(function() {
    $('.summernote').on('summernote.init', function () {
        //$('.summernote').summernote('codeview.activate');
    }).summernote({
        height: 300,
        lang: 'ko-KR',
        popover: {         //팝오버 설정
            image: [], //이미지 삭제
            link: [],  //링크 삭제
            air: []
        }
    });
});
function addPost(){
  var csrf_token = $('#csrf_token').html();

  var title_ko = $('#title_ko').val();
  var content_ko = $('#summernote_ko').summernote('code');

  var title_en = $('#title_en').val();
  var content_en = $('#summernote_en').summernote('code');

  var title_zh = $('#title_zh').val();
  var content_zh = $('#summernote_zh').summernote('code');

  var title_ja = $('#title_ja').val();
  var content_ja = $('#summernote_ja').summernote('code');

  /*
  console.log('title_ko -> ', title_ko);
  console.log('content_ko -> ', content_ko);

  console.log('title_en -> ', title_en);
  console.log('content_en -> ', content_en);

  console.log('title_zh -> ', title_zh);
  console.log('content_zh -> ', content_zh);

  console.log('title_ja -> ', title_ja);
  console.log('content_ja -> ', content_ja);
  */

  $.post( "/api_create_notice", {
     csrfmiddlewaretoken: csrf_token,
     title_ko: title_ko,
     content_ko: content_ko,
     title_en: title_en,
     content_en: content_en,
     title_zh: title_zh,
     content_zh: content_zh,
     title_ja: title_ja,
     content_ja: content_ja
   })
  .done(function( data ) {
    window.location.href='/company/notice';
  });
}
</script>
</%block>
