<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../base.html"/>

<%block name="css">
</%block>

<%block name="content">
<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section ptb-100 background-img"
             style="background: url('/static/new/img/hero-bg-1.jpg')no-repeat center center / cover; padding-bottom: 30px !important;">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">서비스 이용약관</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--contact us section start-->
    <section class="contact-us gray-light-bg ptb-100">
        <div class="container">
            <div class="row">
                제 1 장 총칙<br>
                <br>
                제 1 조 (목적)<br>
                본 약관은 (주)상하이구매대행(이하 "회사"라고 함)가 운영하는 제반 서비스의 이용조건 및 절차에 관련하여 회원과 회사 간의 사항 및 기타 필요한 사항을 규정함을 목적으로 합니다.<br>
                <br>
                제 2 조 (용어의 정의)<br>
                본 약관에서 사용하는 용어는 다음과 같이 정의합니다.<br>
                1. 회원 : 회사가 제공하는 절차에 따른 가입을 완료한 뒤, 회사와 서비스 이용계약을 체결하여 이용 권한을 부여받은 개인<br>
                2. 아이디(ID) : 회원 식별과 회원의 서비스 이용을 위해 회원이 선정하고 회사가 승인하는 문자와 숫자 조합의 이메일 주소<br>
                3. 비밀번호(Password) : 회원이 통신상의 자신의 비밀을 보호하기 위해 선정한 문자, 숫자, 특수문자 등의 조합<br>
                4. 회원 탈퇴 : 회사 또는 회원에 의한 이용계약의 종료<br>
                - 기타 용어의 정의는 관계 법령 및 각 서비스 별 안내에서 정하는 바에 의합니다. 관계 법령과 각 서비스 별 안내에서 정하지 않는 것은 일반적인 상관례에 의합니다.<br>
                <br>
                제 3 조 (약관의 공시 및 효력과 변경)<br>
                1. 본 약관은 회원가입과 웹사이트 하단 별도의 페이지에 게시하여 회원에게 공지합니다.<br>
                2. 이 약관에 동의하고 회원 가입을 한 회원은 약관에 동의한 시점부터 동의한 약관의 적용을 받고 약관의 변경이 있을 경우에는 변경의 효력이 발생한 시점부터 변경된 약관의 적용을 받습니다. 이 약관에 동의하는 것은 정기적으로 홈페이지를 방문하여 약관의 변경 사항을 확인하는 것에 동의하는 것을 의미합니다.<br>
                3. 회사는 사정변경 및 영업상 중요한 사유가 있을 경우 약관을 변경할 수 있으며 시행일로부터 7일 전 홈페이지에 온라인으로 공시합니다. 다만, 이용자에게 불리하게 약관 내용을 변경하는 경우에는 14일 전 회원이 회원 가입 시 등록한 e-mail로 전송하는 방법으로 회원에게 직접 고지합니다. 변경된 약관은 공시하거나 고지한 시행일로부터 효력이 발생합니다.<br>
                4. 회원은 변경된 약관에 대해 거부할 권리가 있고 본 약관의 변경에 대해 이의가 있는 회원은 서비스 이용을 중단하고 회원 탈퇴를 할 수 있습니다. 회원이 변경된 이용약관의 시행일 이후에도 서비스를 계속 이용하는 경우에는 변경된 약관에 동의한 것으로 봅니다.<br>
                <br>
                제 4 조 (약관 외 준칙)<br>
                본 약관에 명시되지 않은 사항이 전기통신기본법, 전기통신사업법, 정보통신촉진법, ‘전자상거래 등에서의 소비자 보호에 관한 법률’, ‘약관의 규제에 관한 법률’, ‘전자거래 기본법’, ‘전자서명법’, ‘정보통신망 이용촉진 등에 관한 법률’, ‘소비자보호법’ 등 기타 관계 법령에 규정되어 있을 경우에는 그 규정을 따르도록 합니다.<br>
                <br>
                제 2 장 서비스 이용계약<br>
                <br>
                제 5 조 (이용신청)<br>
                1. 이용신청자가 회원가입 안내에서 본 약관과 개인정보보호정책에 동의하고 등록절차(회사의 소정 양식의 가입 신청서 작성)를 거쳐 '가입' 버튼을 누르면 서비스 이용신청을 할 수 있습니다.<br>
                2. 이용신청자는 반드시 실제 사용 아이디(ID)와 실제 정보를 사용해야 하며 1개의 아이디(ID)에 대하여 서비스 기간제 당 1건의 이용신청을 할 수 있습니다.<br>
                3. 실명이나 실제 정보를 입력하지 않은 이용자는 법적인 보호를 받을 수 없으며, 서비스 이용에 제한을 받을 수 있습니다.<br>
                4. 이용 계약이 성립되면 회사는 ID를 통해 회원에 대한 제반 관리 업무를 수행하며 회사가 설정한 규칙에 따라 서비스를 이용할 수 있습니다.<br>
                5. 회사가 다른 회사와의 협력, 중개 계약을 통해 제공하는 서비스에 대한 내용, 제 3자 회사의 의무, 이용자의 권리와 의무 등 상세 사항은 해당 서비스에 대하여 제 3자가 제공하는 별도 약관, 운영정책 등에서 정하는 바에 따릅니다. 이용자가 해당 서비스를 이용할 경우, 제 3자가 제공하는 서비스 이용 약관에 대한 동의가 필요할 수 있습니다.<br>
                <br>
                제 6 조 (이용신청의 승낙)<br>
                1. 회사는 제5조에 따른 이용신청자에 대하여 제2항 및 제3항의 경우를 예외로 하여 서비스 이용을 승낙한다.<br>
                2. 회사는 아래 사항에 해당하는 경우에 그 제한사유가 해소될 때까지 승낙을 유보할 수 있다.<br>
                  A. 서비스 관련 설비에 여유가 없는 경우<br>
                  B. 기술상 지장이 있는 경우<br>
                  C. 기타 회사 사정상 필요하다고 인정되는 경우<br>
                  D. 회사가 제시하는 회원 가입 절차를 완료하지 않은 경우<br>
                3. 회사는 아래 사항에 해당하는 경우에 승낙을 하지 않을 수 있다.<br>
                  A. 다른 사람의 명의를 사용하여 신청한 경우<br>
                  B. 이용자 정보를 허위로 기재하여 신청한 경우<br>
                  C. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우<br>
                  D. 기타 회사가 정한 이용신청 요건이 미비한 경우<br>
                  E. 법에서 금지하는 위법 행위를 할 목적으로 이용 신청을 하는 경우<br>
                <br>
                제 7 조 (회원의 서비스 이용해지, 탈퇴)<br>
                1. 회원은 언제든지 고객센터를 통하여 서비스 탈퇴 신청을 할 수 있으며 회사는 관련법 등이 정하는 바에 따라 이를 즉시 처리하여야 합니다.<br>
                2. 회원이 계약을 해지할 경우 관련법 및 개인정보보호정책에 따라 회사가 회원정보를 보유하는 경우를 제외하고는 즉시 회원의 모든 데이터를 소멸한다.<br>
                3. 회원이 계약을 해지하는 경우 회사가 정한 기간 동안 보유하는 식별 정보 이외의 본인의 계정에 등록된 모든 데이터는 일체 삭제됩니다.<br>
                <br>
                제 3 장 서비스의 이용<br>
                <br>
                제 8 조 (서비스 이용)<br>
                1. 회사는 이용 고객의 회원 가입을 승낙하고 고객이 서비스 이용 결제를 한 후부터 서비스를 제공합니다. 단, 일부 서비스의 경우에는 회사의 필요에 따라 지정된 일자부터 서비스를 개시하거나, 별도의 약관 체결이 필요한 경우 별도의 약관 동의를 포함한 관련 절차가 완료된 후 서비스를 개시할 수 있습니다.<br>
                2. 회사의 업무상 또는 기술상의 장애로 인하여 서비스를 개시하지 못하는 경우에는 홈페이지 또는 개별 서비스 관련 홈페이지에 공지하거나 소프트웨어 상으로 회원에게 이를 고지합니다.<br>
                3. 회원은 각 서비스 이용을 위해 기기 종류, 유무선 통신망의 품질 등이 해당 서비스 이용에 적합한지 여부를 확인하여야 합니다. 서비스 업데이트와 기술 발전 등의 환경 변화로 서비스 이용에 필요한 기술 요구 사양을 회원에게 요청할 수 있으며, 회사는 기술 사양 정보의 변경으로 인한 책임을 부담하지 않습니다.<br>
                4. 회원은 서비스를 이용함에 있어 클라이언트 프로그램 및 원활한 프로그램 구동을 위해 추가적으로 필요한 프로그램, 소프트웨어 등의 설치가 필요할 수 있습니다. 프로그램 및 부가 프로그램의 설치는 회사가 제공하는 서비스를 이용하기 위해 필요한 사항으로, 설치되는 프로그램 용량 및 종류 등은 서비스 제공 내용에 따라 상이할 수 있으며, 이는 홈페이지를 통해 안내합니다.<br>
                <br>
                제 9 조 (서비스의 제공 및 중단 등)<br>
                1. 회사는 회원에게 아래와 같은 서비스를 제공합니다.<br>
                  ①. 가상 사설 네트워크 망 임대<br>
                  ②. 회사가 자체 개발하거나 다른 회사와의 협력 계약 등을 통해 회원에게 제공하는 일체의 서비스<br>
                2. 제1항 상의 서비스 및 제휴 서비스의 내용은 변경될 수 있으며, 이 경우 회사는 홈페이지, 클라이언트 프로그램 등을 통해 이용자에게 공지합니다.<br>
                3. 서비스는 회사 상품의 기간제에 따라 정해진 시간 동안 제공합니다. 회사는 고객의 서비스 제공 시간 만기일을 홈페이지 또는 클라이언트 프로그램을 통해 안내합니다.<br>
                4. 제3항에도 불구하고, 다음 각 호에 해당하는 경우, 일정 시간 동안 서비스가 제공되지 아니할 수 있으며, 해당 시간 동안 회사는 서비스를 제공할 의무가 없습니다.<br>
                  ①. 컴퓨터 등 정보통신설비의 보수 점검, 교체, 정기점검 또는 서비스의 수정을 위하여 필요한 경우<br>
                  ②. 해킹 등의 전자적 침해사고, 통신사고, 회원들의 비정상적인 이용행태, 미처 예상하지 못한 서비스의 불안정성에 대응하기 위하여 필요한 경우<br>
                  ③. 관련 법령에서 특정 시간 또는 방법으로 서비스 제공을 금지하는 경우<br>
                  ④. 천재지변, 비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 불가능할 경우<br>
                  ⑤. 회사의 분할, 합병, 영업양도, 영업의 폐지, 당해 서비스의 수익 악화, 당해 서비스 권한 상실 등 회사의 경영상 중대한 필요에 의한 경우<br>
                  ⑥. 전기통신사업법 상에 규정된 기간통신 사업자 또는 인터넷 망 사업자가 서비스를 중지했을 경우<br>
                5. 회사는 제4항 제1호의 경우, 매주 또는 격주 단위로 일정 시간을 정하여 서비스를 중지할 수 있습니다. 이 경우 회사는 최소한 24시간 전에 그 사실을 회원에게 홈페이지나 클라이언트 프로그램에 공지합니다.<br>
                6. 제4항 제2호의 경우, 회사는 사전 고지 없이 서비스를 일시 중지할 수 있습니다. 회사는 이러한 경우 그 사실을 홈페이지나 클라이언트 프로그램에 사후 고지할 수 있습니다.<br>
                7. 회사는 회사가 제공하는 무료 서비스 이용과 관련하여 이용자에게 발생한 어떠한 손해에 대해서도 책임을 지지 않습니다. 다만, 회사의 고의 또는 중대한 과실로 인하여 발생한 손해의 경우는 제외합니다.<br>
                8. 회사는 회사가 제공하는 유료 서비스 이용과 관련하여 회사의 귀책사유로 사전고지 없이 1일 기준 3시간 이상 연속하여 서비스가 중지되거나 장애가 발생한 경우 계속적 이용 계약에 한하여 서비스 중지·장애시간의 3배에 해당하는 이용시간을 무료로 연장하고, 이용자는 회사에 대하여 별도의 손해배상을 청구할 수 없습니다. 다만, 회사가 서버 점검 등의 사유로 서비스 중지·장애를 고지하였으나, 서비스 중지·장애시간이 3시간이 초과하는 경우에는 그 초과된 시간만큼 이용시간을 무료로 연장하고, 이용자는 회사에 대하여 별도의 손해배상을 청구할 수 없습니다.<br>
                9. 제4항 제3호 내지 제5호의 경우에 회사는 기술상․운영상 필요에 의해 서비스 전부를 중단할 수 있으며, 30일 전에 홈페이지에 이를 공지하고 서비스의 제공을 중단할 수 있습니다. 사전에 통지할 수 없는 부득이한 사정이 있는 경우는 사후에 통지를 할 수 있습니다.<br>
                10. 회사가 제9항에 따라 서비스를 종료하는 경우 회원은 무료 서비스, 서비스 환불 정책상 환불이 불가능한 유료 서비스 이용계약에 대하여 환불 및 손해배상을 청구할 수 없습니다.<br>
                <br>
                제 10 조 (정보의 제공 및 수집 등)<br>
                1. 회사는 다음의 사항을 홈페이지에 회원이 알기 쉽게 표시합니다.<br>
                  ①. 상호<br>
                  ②. 배급업자의 신고번호 또는 등록번호<br>
                  ③. 기타 회사가 필요하다고 인정하는 사항<br>
                <br>
                2. 회원에게 정보 등을 제공하는 경우 회사는 회원이 등록한 e-mail 주소로 고지하거나 또는 홈페이지에 공지하는 것으로 할 수 있습니다. 단, e-mail의 경우 해당 e-mail 서비스 제공사의 제한에 의해 개별통지가 불가한 경우 및 회원이 e-mail을 잘못 기재하여 등록한 경우 발생하는 문제에 대해서는 책임을 지지 않습니다.<br>
                3. 회사는 회사가 제공하는 서비스 내에서 회원의 서비스 결제 기록, 이용 로그 등을 저장, 보관, 또는 열람할 수 있습니다. 회사는 고객의 민원 처리, 수사 기관으로부터의 정보 제공, 품질 개선 및 유지를 목적으로 회사가 필요하다고 판단하는 경우에만 한정하여 해당 정보를 열람하도록 합니다. 해당 정보는 회사만이 보유하고 적법한 제 3자 외에는 제공되지 않습니다. 계정 도용, 버그 악용, 사이버 범죄, 기타 현행 법령 위반행위 등 중대한 약관 위반 행위의 조사, 처리, 확인 및 이의 구제와 관련하여 회원의 해당 정보를 열람해야 할 필요가 있는 경우에는, 사후에 해당 정보가 열람된 개인들에 대하여 열람한 사유와 열람한 정보 중 본인과 관련된 부분을 고지하기로 합니다.<br>
                4. 회사는 서비스의 안정화, 오류 개선 등을 위해 회원들의 개인정보를 제외한 PC 사양 및 시스템 정보, 오류 정보를 수집할 수 있습니다.<br>
                5. 회사는 서비스 개선 및 회원 대상 서비스 소개 등을 위한 목적으로 회원 개인에 대한 추가 정보를 요구할 수 있으며, 동 요청에 대해 회원은 승낙하여 추가 정보를 제공하거나 거부할 수 있습니다.<br>
                <br>
                제 11 조(쿠폰 서비스)<br>
                <br>
                1. 회사는 회사에서 제공하는 웹사이트 또는 소프트웨어를 통해 쿠폰 서비스를 유료 또는 무료로 구분하여 이벤트 또는 행사 참여 고객들을 대상으로 제공할 수 있습니다. 회원은 지급되는 쿠폰을 입력하여 서비스 기간을 제공받을 수 있습니다.<br>
                2. 회원은 신용카드, 휴대폰 결제, 문화상품권, 실시간 계좌이체, 토스, 카카오페이, 페이코 등 회사에서 제공하는 결제방식을 통해 쿠폰을 구매할 수 있습니다. 쿠폰은 종류에 따라 사용 가능한 최대 기기, 사용기한 등이 상이하며, 회사는 이에 대해 회원이 상세히 확인할 수 있도록 안내합니다.<br>
                3. 회원은 유료 쿠폰 구매 후 7일 이내 미사용 시 청약철회를 할 수 있으며, 회원이 청약철회를 한 경우 회사는 지체 없이 회원에게 지급된 유료 쿠폰을 회수 또는 삭제합니다. 이자 상거래 등에서의 소비자보호에 관한 법률 등 관계 법령에서 정한 청약철회 제한 사유에 해당하는 경우 청약 철회가 제한됩니다. 청약 철회가 제한되는 경우에는 제한되는 사실을 팝업 화면이나 연결 화면 등으로 표시합니다.<br>
                4. 쿠폰 서비스 이용 회원이 본 약관 제16조를 위반하는 행위가 적발될 경우, 회사는 쿠폰 구매를 승인을 하지 않거나 추후 해당 승인을 취소하고 쿠폰 서비스 및 회사의 서비스 이용을 제한할 수 있으며, 이로 인해 발생하는 책임을 회사의 고의 또는 중대한 과실이 없는 한 부담하지 않습니다.<br>
                <br>
                제 4 장 계약 당사자의 의무<br>
                <br>
                제 12 조 (회사의 의무)<br>
                1. 회사는 사이트를 안정적이고 지속적으로 운영할 의무가 있다.<br>
                2. 회사는 이용자로부터 제기되는 의견이나 불만이 정당하다고 인정될 경우에는 즉시 처리해야 한다. 단, 즉시 처리가 곤란한 경우에는 이용자에게 그 사유와 처리 일정을 공지사항 또는 전자우편을 통해 통보해야 한다.<br>
                3. 제1항의 경우 수사상의 목적으로 관계기관 및 정보통신윤리위원회의 요청이 있거나 영장 제시가 있는 경우, 기타 관계 법령에 의한 경우는 예외로 한다.<br>
                <br>
                제 13 조 (이용자의 의무)<br>
                1. 이용자는 본 약관 및 회사의 공지사항, 사이트 이용안내 등을 숙지하고 준수해야 하며 기타 회사의 업무에 방해되는 행위를 해서는 안된다.<br>
                2. 이용자는 회사의 사전 승인 없이 본 사이트를 이용해 어떠한 영리 행위도 할 수 없다.<br>
                3. 이용자는 본 사이트를 통해 얻는 정보를 회사의 사전 승낙 없이 복사, 복제, 변경, 번역, 출판, 방송 및 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없다.<br>
                <br>
                제 5 장 서비스의 제공 및 이용<br>
                <br>
                제 14 조 (서비스 이용)<br>
                1. 이용자는 본 약관의 규정된 사항을 준수해 사이트를 이용한다.<br>
                2. 본 약관에 명시되지 않은 서비스 이용에 관한 사항은 회사가 정해 '공지사항'에 게시하거나 또는 별도로 공지하는 내용에 따른다.<br>
                <br>
                제 15 조 (정보의 제공)<br>
                회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보에 대하여 전자메일이나 서신 우편 등의 방법으로 회원에게 정보를 제공할 수 있다.<br>
                <br>
                제 16 조 (광고 게재)<br>
                1. 회사는 서비스의 운용과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고 등을 게재할 수 있다.<br>
                2. 회사는 사이트에 게재되어 있는 광고주의 판촉활동에 회원이 참여하거나 교신 또는 거래의 결과로써 발생하는 모든 손실 또는 손해에 대해 책임을 지지 않는다.<br>
                <br>
                제 17 조 (서비스 이용의 제한)<br>
                본 사이트 이용 및 행위가 다음 각 항에 해당하는 경우 회사는 해당 이용자의 이용을 제한할 수 있다.<br>
                1. 공공질서 및 미풍양속, 기타 사회질서를 해하는 경우<br>
                2. 범죄행위를 목적으로 하거나 기타 범죄행위와 관련된다고 객관적으로 인정되는 경우<br>
                3. 타인의 명예를 손상시키거나 타인의 서비스 이용을 현저히 저해하는 경우<br>
                4. 타인의 의사에 반하는 내용이나 광고성 정보 등을 지속적으로 전송하는 경우<br>
                5. 해킹 및 컴퓨터 바이러스 유포 등으로 서비스의 건전한 운영을 저해하는 경우<br>
                6. 다른 이용자 또는 제 3자의 지적재산권을 침해하거나 지적재산권자가 지적 재산권의 침해를 주장할 수 있다고 판단되는 경우<br>
                7. 타인의 아이디 및 비밀번호를 도용한 경우<br>
                8. 기타 관계 법령에 위배되는 경우 및 회사가 이용자로서 부적당하다고 판단한 경우<br>
                <br>
                제 18 조 (게시물 관리)<br>
                회사는 건전한 통신문화 정착과 효율적인 사이트 운영을 위하여 이용자가 게시하거나 제공하는 자료가 제16조에 해당한다고 판단되는 경우에 임의로 삭제, 자료 이동, 등록거부를 할 수 있다.<br>
                <br>
                제 19 조 (서비스 이용 책임)<br>
                이용자는 회사에서 권한 있는 사원이 서명한 명시적인 서면에 구체적으로 허용한 경우를 제외하고는 서비스를 이용하여 불법상품을 판매하는 영업활동을 할 수 없으며 특히 해킹, 돈 벌기 광고, 음란 사이트를 통한 상업행위, 상용 S/W 불법 제공 등을 할 수 없다. 이를 어기고 발생한 영업활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 회사가 책임을 지지 않는다.<br>
                <br>
                제 6 장 (재화의 주문 및 결제 관련)<br>
                <br>
                제 20 조 (결제방법)<br>
                ‘회원’은 ‘회사’에서 제공하는 서비스에 대하여 ‘선불카드, 직불카드, 신용카드, 핸드폰, 상품권 등의 각종  결제 수단’을 이용하여 결제할 수 있다. 이때 ‘회사’는 이용자의 지급방법에 대하여 재화 외 어떠한 명목의 수수료를 추가 징수하지 않는다.<br>
                  ① ‘회사’는 이용자의 구매신청이 있는 경우 이용자에게 수신확인 통지를 한다. 주문 확인에 대한 내용은 해당 게시판에서 확인할 수 있다.<br>
                  ② 수신확인 통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인 통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고 ‘회사’는 배송 전에 이용자의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리한다. 다만 이미 대금을 지불한 경우에는 제16조의 ‘반품규정’을 따른다.<br>
                <br>
                제 21 조 (취소 및 반품 환불 규정)<br>
                ‘회사’는 이용자가 구매 신청한 재화 등이 품절 등의 사유로 인도 또는 제공을 할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고 사전에 재화 등의 대금을 받은 경우에는 대금을 받은 날부터 7 영업일 이내에 환급하거나 환급에 필요한 조치를 한다.<br>
                  ① 서비스 결제일로부터 7일이 지나지 않은 경우 이용자가 결제를 취소할 경우 ‘회사’는 해당 주문건을 취소 처리하고 카드결제 승인을 취소한다.<br>
                  ② 서비스 결제일로부터 7일 이후 결제 취소는 불가하다. 단, ‘회사’의 부주의 또는 서비스 운영 상의 문제로 인한 서비스 운영 문제일 경우 ‘회사’는 이용자에게 구매 금액의 반품 및 환불 조치 및 교환 조치를 취한다.<br>
                <br>
                제 7 장 기타<br>
                <br>
                제 22 조 (면책 및 손해배상)<br>
                  ①천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 회사의 서비스 제공 책임이 면제된다.<br>
                  ②회사는 이용자 간 또는 이용자와 제 3자 간의 상호거래 관계에서 발생되는 결과에 대하여 어떠한 책임도 부담하지 않는다.<br>
                  ③회사는 이용자가 게시판에 게재한 정보, 자료, 내용 등에 관하여 사실의 정확성, 신뢰도 등에 어떠한 책임도 부담하지 않으며 이용자는 본인의 책임 아래 본 사이트를 이용해야 한다.<br>
                  ④이용자가 게시 또는 전송한 자료 등에 관하여 손해가 발생하거나 자료의 취사선택, 기타 무료로 제공되는 서비스 이용과 관련해 어떠한 불이익이 발생하더라도 이에 대한 모든 책임은 이용자에게 있다.<br>
                  ⑤아이디와 비밀번호의 관리 및 이용자의 부주의로 인하여 발생되는 손해 또는 제 3자에 의한 부정사용 등에 대한 책임은 이용자에게 있다.<br>
                  ⑥이용자가 본 약관의 규정을 위반함으로써 회사에 손해가 발생하는 경우 이 약관을 위반한 이용자는 회사에 발생한 모든 손해를 배상해야 하며 동 손해로부터 회사를 면책시켜야 한다.<br>
                <br>
                제 23 조 (개인신용정보 제공 및 활용에 대한 동의서)<br>
                회사가 회원 가입과 관련해 취득한 개인 신용 정보는 신용정보의 이용 및 보호에 관한 법률 제23조의 규정에 따라 타인에게 제공 및 활용 시 이용자의 동의를 얻어야 한다. 이용자의 동의는 회사가 회원으로 가입한 이용자의  신용정보를 신용정보기관, 신용정보 업자 및 기타 이용자 등에게 제공해 이용자의 신용을 판단하기 위한 자료로서 활용하거나 공공기관에서 정책자료로 활용하는데 동의하는 것으로 간주한다.<br>
                <br>
                제 24 조 (분쟁의 해결)<br>
                  ①회사와 이용자는 본 사이트 이용과 관련해 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 해야 한다.<br>
                  ②제1항의 규정에도 불구하고 동 분쟁으로 인하여 소송이 제기될 경우 동 소송은 회사의 본사 소재지를 관할하는 법원의 관할로 본다.<br>
                <br>
                [부칙]<br>
                본 약관은 2019년 07월 1일부터 적용한다.<br>
            </div>
        </div>
    </section>
    <!--contact us section end-->

</div>
<!--body content wrap end-->
</%block>

<%block name="js">
</%block>
