.login-container {
  min-width: 240px !important;
  width: 450px;
  margin: auto;
  box-shadow: 1px 1px 1px 1px #aaaaaa;
  padding: 30px;
  background-color: #FFFFFF;
  line-height: 1;
  border-radius: 10px;
}
.common-login-input{
  background-color: #E5EBEB;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  height: 45px;
}
.common-title {
    color: #8000d6;
    text-align: center;
    font-size: 22px;
    padding-bottom: 30px;
    padding-top: 15px;
}
.common-logo {
  width: 35px;
  margin-bottom: 10px;
}
.button {
  padding-top: 15px;
}
.btn-login{
  background-color: #7d59da;
  color: #ffffff;
  font-size: 16px;
}
.nono {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  color: red;
}
