<%inherit file="../common/frame.html"/>

<%block name="css">
<style>
  .notification-write-btn-container{
    text-align: right;
  }
  .input-margin input {
    margin-left: 20px;
  }
  .input-margin {
    font-size: 20px;
  }
  #summernote_content{
    border: solid 1px #cccccc;
    margin-bottom: 10px;
  }
  .note-codable { background-color: white !important; color: black !important; }
</style>
</%block>

<%block name="title">이용약관</%block>
<%block name="subtitle">사용자에게 제공되는 이용약관을 수정할 수 있습니다.</%block>

<%block name="content">
<div class="box-container">

  <div class="box">
    <div class="box-body">
      <div class="box-body-input input-margin">
        <input type="radio" name="sum" value="1" checked>영어
        <input type="radio" name="sum" value="2">한국어
        <input type="radio" name="sum" value="3">일본어
        <input type="radio" name="sum" value="4">중국어
      </div>

      <div id="summernote_content1">
        <div class="summernote" id="summernote1">1111</div>
      </div>
      <div id="summernote_content2" style="display: none">
        <div class="summernote" id="summernote2">2222</div>
      </div>
      <div id="summernote_content3" style="display: none">
        <div class="summernote" id="summernote3">3333</div>
      </div>
      <div id="summernote_content4" style="display: none">
        <div class="summernote" id="summernote4">4444</div>
      </div>


      <div class='notification-write-btn-container'>
            <button class="btn btn-fw warn" id="notice_save" onclick="click_edit()">수정</button>
      </div>
    </div>

  </div>

</div>
</%block>

<%block name="js">
<script>
$(document).ready(function() {
    $('.summernote').on('summernote.init', function () {
        //$('.summernote').summernote('codeview.activate');
    }).summernote({
        height: 550,
        lang: 'ko-KR'
    });

});

$('input[type=radio][name=sum]').on('click', function () {
var chkValue = $('input[type=radio][name=sum]:checked').val();
  console.log(chkValue)
  if(chkValue == '1') {
      $('#summernote_content1').css('display', 'block');
      $('#summernote_content2').css('display', 'none');
      $('#summernote_content3').css('display', 'none');
      $('#summernote_content4').css('display', 'none');
  }
  else if(chkValue == '2') {
      $('#summernote_content1').css('display', 'none');
      $('#summernote_content2').css('display', 'block');
      $('#summernote_content3').css('display', 'none');
      $('#summernote_content4').css('display', 'none');
  }
  else if(chkValue == '3') {
      $('#summernote_content1').css('display', 'none');
      $('#summernote_content2').css('display', 'none');
      $('#summernote_content3').css('display', 'block');
      $('#summernote_content4').css('display', 'none');
  }
  else if(chkValue == '4') {
      $('#summernote_content1').css('display', 'none');
      $('#summernote_content2').css('display', 'none');
      $('#summernote_content3').css('display', 'none');
      $('#summernote_content4').css('display', 'block');
  }
});





function click_edit(){
  var cont = $('#summernote').summernote('code');
  var csrf_token = $('#csrf_token').html();

  if(cont == ''){
      Swal.fire({
          title: '알림',
          text: '내용 입력 없이 저장할 수 없습니다',
          type: 'error',
          confirmButtonColor: "#dc3545"
      })
    return 1;
  }
    Swal.fire({
        title: '알림',
        html:
            '<div style="font-size: 14px;">이용약관의 수정은 시스템의 중대한 영향을 미칩니다</div>'+
            '<div style="font-size: 14px;">정말로 저장하시겠습니까?</div>',
        type: 'error',
        confirmButtonColor: "#ea2e49",
        showCancelButton: true,
        confirmButtonText: '저장',
        cancelButtonText: "취소"
    }).then((result) => {
        if (result.value) {
            $.post("/api_info_edit", {
                csrfmiddlewaretoken: csrf_token,
                cont: cont
            })
                .done(function (data) {
                    if (data.result == '200') {
                        Swal.fire({
                            title: '알림',
                            text: '이용약관이 성공적으로 변경되었습니다.',
                            type: 'success',
                            confirmButtonColor: "#22b66e"
                        }).then((ok) => {
                            if (ok) {
                                window.location.href = '/manage_info'
                            }
                        })
                    }
                })
        }
    })
}

</script>
</%block>
