<%inherit file="../admin_common/frame.html"/>

<%block name="css">
<link rel="stylesheet" href="/static/policy/policy.css" type="text/css" />
</%block>

<%block name="title">정책관리</%block>
<%block name="subtitle">개인정보보호정책</%block>

<%block name="content">


<div class="box-container">
  <div id="kind" hidden>${kind}</div>

  <div class="box">
    <div class="box-body">
      <div class="box-body-input input-margin">

        <div class="flex-item">
          <input type="radio" name="sum" value="1" checked>
          <img class="country-logo" src='/static/image/usa.png'>
          <span>영어</span>
        </div>

        <div class="flex-item">
          <input type="radio" name="sum" value="2">
          <img class="country-logo" src='/static/image/korea.png'>
          <span>한국어</span>
        </div>

        <div class="flex-item">
          <input type="radio" name="sum" value="3">
          <img class="country-logo" src='/static/image/japan.png'>
          <span>일본어</span>
        </div>

        <div class="flex-item">
          <input type="radio" name="sum" value="4">
          <img class="country-logo" src='/static/image/china.png'>
          <span>중국어</span>
        </div>

      </div>

      <div id="summernote_content1">
        <div class="summernote" id="summernote1"></div>
      </div>


      <div class='notification-write-btn-container'>
            <button class="btn btn-fw warn" id="notice_save" onclick="click_edit()">수정</button>
      </div>
    </div>

  </div>

</div>
</%block>

<%block name="js">
<script src="/static/policy/policy.js"></script>
</%block>
