<%inherit file="../admin_common/frame.html"/>

<%block name="css">
<style>
.download-title{
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.download-flex{
  display: flex;
  margin-bottom: 2px;
}
.download-flex-item-left{
  padding: 10px;
  text-align: center;
  border: solid 1px #cccccc;
  width: 250px;
}
.download-flex-item-right{
  padding: 10px;
  text-align: center;
  border: solid 1px #cccccc;
  flex: 1;
}
.image-status{
  margin-top: 10px;
}
.regist-title{
  margin-top: 20px;
}
.indigo{
  background-color: #846eed;
  color: rgba(255, 255, 255, 0.85);
}
.btn-fw{
  height: 38px;
  margin-top: 10px;
  margin-left: 10px;
}
.pt20{
  padding-top: 20px;
}
.country_img{
  width: 20px;
  margin-top: -2px;
}
</style>
</%block>

<%block name="title">Mac 파일 관리</%block>
<%block name="subtitle">파일 다운로드 링크 및 설명 이미지를 등록할 수 있습니다</%block>

<%block name="content">

<div class='download-set'>
  <div class="box-header indigo">
    <h3>상태관리</h3>
  </div>

    <div class="client-status">
      <div class="download-flex">
        <div class="download-flex-item-left">
          클라이언트 파일
          <img class="country_img" src='/static/image/korea.png'>
        </div>
        <div class="download-flex-item-right">
          ${ko_mac_clt}
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          클라이언트 파일
          <img class="country_img" src='/static/image/usa.png'>
        </div>
        <div class="download-flex-item-right">
          ${en_mac_clt}
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          클라이언트 파일
          <img class="country_img" src='/static/image/china.png'>
        </div>
        <div class="download-flex-item-right">
          ${zh_mac_clt}
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          클라이언트 파일
          <img class="country_img" src='/static/image/japan.png'>
        </div>
        <div class="download-flex-item-right">
          ${ja_mac_clt}
        </div>
      </div>
    </div>

    <div class="image-status">
      <div class="download-flex">
        <div class="download-flex-item-left">
          이미지 파일
          <img class="country_img" src='/static/image/korea.png'>
        </div>
        <div class="download-flex-item-right">
          ${ko_mac_img}
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          이미지 파일
          <img class="country_img" src='/static/image/usa.png'>
        </div>
        <div class="download-flex-item-right">
          ${en_mac_img}
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          이미지 파일
          <img class="country_img" src='/static/image/china.png'>
        </div>
        <div class="download-flex-item-right">
          ${zh_mac_img}
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          이미지 파일
          <img class="country_img" src='/static/image/japan.png'>
        </div>
        <div class="download-flex-item-right">
          ${ja_mac_img}
        </div>
      </div>
    </div>
  </div>

<div class='download-set'>
    <div class="box-header indigo" style="margin-top: 15px;">
      <h3>파일등록</h3>
    </div>

    <div class="client-status">
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          클라이언트 파일
          <img class="country_img" src='/static/image/korea.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="ko_mac_clt">
        </div>
        <button class="btn btn-fw success" onclick='common_save("ko_mac_clt")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          클라이언트 파일
          <img class="country_img" src='/static/image/usa.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="en_mac_clt">
        </div>
        <button class="btn btn-fw success" onclick='common_save("en_mac_clt")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          클라이언트 파일
          <img class="country_img" src='/static/image/china.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="zh_mac_clt">
        </div>
        <button class="btn btn-fw success" onclick='common_save("zh_mac_clt")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          클라이언트 파일
          <img class="country_img" src='/static/image/japan.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="ja_mac_clt">
        </div>
        <button class="btn btn-fw success" onclick='common_save("ja_mac_clt")'>Save</button>
      </div>
    </div>

    <div class="image-status">
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          이미지 파일
          <img class="country_img" src='/static/image/korea.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="ko_mac_img">
        </div>
        <button class="btn btn-fw success" onclick='common_save("ko_mac_img")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          이미지 파일
          <img class="country_img" src='/static/image/usa.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="en_mac_img">
        </div>
        <button class="btn btn-fw success" onclick='common_save("en_mac_img")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          이미지 파일
          <img class="country_img" src='/static/image/china.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="zh_mac_img">
        </div>
        <button class="btn btn-fw success" onclick='common_save("zh_mac_img")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          이미지 파일
          <img class="country_img" src='/static/image/japan.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="ja_mac_img">
        </div>
        <button class="btn btn-fw success" onclick='common_save("ja_mac_img")'>Save</button>
      </div>
    </div>
  </div>

</%block>

<%block name="js">
<script>
  function common_save(flag){

    console.log('flag -> ', flag);

    var upload_file = $("#" + flag)[0].files[0];

    console.log('upload_file -> ', upload_file);

    var formData = new FormData();
    formData.append("csrfmiddlewaretoken", $('#csrf_token').html());
    formData.append("upload_file", upload_file);
    formData.append("flag", flag);

    $.ajax({
      url: '/api_download',
      processData: false,
      contentType: false,
      data: formData,
      type: 'POST',
      success: function(data){
        if(data.result == 200){
          window.location.reload();
        }
        else{
          alert('서버오류 - 관리자에게 문의하세요');
        }
      }
    });
  }
</script>
</%block>
