<%inherit file="../admin_common/frame.html"/>

<%block name="css">
<link rel="stylesheet" href="/static/download/download.css" type="text/css" />
</%block>

<%block name="title">Windows 파일 관리</%block>
<%block name="subtitle">파일 다운로드 링크 및 설명 이미지를 등록할 수 있습니다</%block>

<%block name="content">

<input type='text' id='version_check' value='${version}' hidden>

<div class='download-set'>
  <div class="box-header indigo">
    <h3>상태관리</h3>
  </div>

    <div class="client-status">
      <div class="download-flex">
        <div class="download-flex-item-left">
          클라이언트 파일
          <img class="country_img" src='/static/image/korea.png'>
        </div>
        <div class="download-flex-item-right" id='top_ko'>
          ...
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          클라이언트 파일
          <img class="country_img" src='/static/image/usa.png'>
        </div>
        <div class="download-flex-item-right" id='top_en'>
          ...
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          클라이언트 파일
          <img class="country_img" src='/static/image/china.png'>
        </div>
        <div class="download-flex-item-right" id='top_zh'>
          ...
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          클라이언트 파일
          <img class="country_img" src='/static/image/japan.png'>
        </div>
        <div class="download-flex-item-right" id='top_ja'>
          ...
        </div>
      </div>
    </div>

    <div class="image-status">
      <div class="download-flex">
        <div class="download-flex-item-left">
          이미지 파일
          <img class="country_img" src='/static/image/korea.png'>
        </div>
        <div class="download-flex-item-right" id='bot_ko'>
          ...
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          이미지 파일
          <img class="country_img" src='/static/image/usa.png'>
        </div>
        <div class="download-flex-item-right" id='bot_en'>
          ...
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          이미지 파일
          <img class="country_img" src='/static/image/china.png'>
        </div>
        <div class="download-flex-item-right" id='bot_zh'>
          ...
        </div>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left">
          이미지 파일
          <img class="country_img" src='/static/image/japan.png'>
        </div>
        <div class="download-flex-item-right" id='bot_ja'>
          ...
        </div>
      </div>
    </div>
  </div>

<div class='download-set'>
    <div class="box-header indigo" style="margin-top: 15px;">
      <h3>파일등록</h3>
    </div>

    <div class="client-status">
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          클라이언트 파일
          <img class="country_img" src='/static/image/korea.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="ko_win_clt">
        </div>
        <button class="btn btn-fw success" onclick='common_save("ko_win_clt")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          클라이언트 파일
          <img class="country_img" src='/static/image/usa.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="en_win_clt">
        </div>
        <button class="btn btn-fw success" onclick='common_save("en_win_clt")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          클라이언트 파일
          <img class="country_img" src='/static/image/china.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="zh_win_clt">
        </div>
        <button class="btn btn-fw success" onclick='common_save("zh_win_clt")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          클라이언트 파일
          <img class="country_img" src='/static/image/japan.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="ja_win_clt">
        </div>
        <button class="btn btn-fw success" onclick='common_save("ja_win_clt")'>Save</button>
      </div>
    </div>

    <div class="image-status">
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          이미지 파일
          <img class="country_img" src='/static/image/korea.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="ko_win_img">
        </div>
        <button class="btn btn-fw success" onclick='common_save("ko_win_img")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          이미지 파일
          <img class="country_img" src='/static/image/usa.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="en_win_img">
        </div>
        <button class="btn btn-fw success" onclick='common_save("en_win_img")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          이미지 파일
          <img class="country_img" src='/static/image/china.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="zh_win_img">
        </div>
        <button class="btn btn-fw success" onclick='common_save("zh_win_img")'>Save</button>
      </div>
      <div class="download-flex">
        <div class="download-flex-item-left pt20">
          이미지 파일
          <img class="country_img" src='/static/image/japan.png'>
        </div>
        <div class="download-flex-item-right">
          <input type="file" class="form-control" id="ja_win_img">
        </div>
        <button class="btn btn-fw success" onclick='common_save("ja_win_img")'>Save</button>
      </div>
    </div>
  </div>

</%block>

<%block name="js">
<script src="/static/download/download.js"></script>
</%block>
