<%inherit file="../admin_common/admin_frame.html"/>


<%block name="css">
<link rel="stylesheet" href="/static/user/user.css">
</%block>


<%block name="title">회원 관리</%block>
<%block name="subtitle">TITAN VPN에 가입한 회원들의 정보를 한눈에 볼 수 있습니다</%block>


<%block name="content">
<div class="user-container">
  <!-- 검색필터 -->
  <div class="user-filter">
    <div class="form-group id-form flex1">
      <label>번호[=]</label>
      <input class="form-control" id="filter_id">
    </div>
    <div class="form-group email-form flex1">
      <label>이메일[=]</label>
      <input class="form-control" id="filter_email">
    </div>
    <div class="form-group name-form flex1">
      <label>사용자명[=]</label>
      <input class="form-control" id="filter_name">
    </div>
    <div class="form-group flex1">
      <label>성별</label>
      <select class="form-control" id="filter_gender" name="filter_gender">
        <option>선택하세요</option>
        % for gender in gender_list:
          <option value="${ gender.code }">${ gender.name }</option>
        % endfor
      </select>
    </div>
    <div class="form-group flex1">
      <label>삭제여부</label>
      <select class="form-control" id="filter_delete" name="filter_delete">
        <option>선택하세요</option>
        % for delete in delete_list:
          <option value="${ delete.code }">${ delete.name }</option>
        % endfor
      </select>
    </div>
    <div class="form-group flex1">
      <label>차단여부</label>
      <select class="form-control" id="filter_black" name="filter_black">
        <option>선택하세요</option>
        % for black in black_list:
          <option value="${ black.code }">${ black.name }</option>
        % endfor
      </select>
    </div>
    <div class="form-group flex1">
      <label>활성여부</label>
      <select class="form-control" id="filter_active" name="filter_active">
        <option>선택하세요</option>
        % for active in active_list:
          <option value="${ active.code }">${ active.name }</option>
        % endfor
      </select>
    </div>
    <div class="form-group flex1">
      <label>권한</label>
      <select class="form-control" id="filter_staff" name="filter_staff">
        <option>선택하세요</option>
        % for staff in staff_list:
          <option value="${ staff.code }">${ staff.name }</option>
        % endfor
      </select>
    </div>
  </div>
  <!-- 버튼 -->
  <div class='btn-store'>
    <button class="btn btn-fw primary" onclick="click_search()">
      <i class="fa fa-search mr5"></i>
      검색하기
    </button>
  </div>
  <!-- 데이터테이블즈 -->
  <div class="user-table">
    <table id="user-inform" class="table display">
      <thead>
        <tr>
          <th>번호</th>
          <th>이메일</th>
          <th>사용자명</th>
          <th>성별</th>
          <th>생년월일</th>
          <th>SNS</th>
          <th>연락처</th>
          <th>삭제여부</th>
          <th>차단여부</th>
          <th>활성여부</th>
          <th>권한</th>
          <th>상세</th>
          <th>서비스</th>
          <th>세션</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <!-- 상세영역 -->
  <div class='inner-title'>
    회원 상세정보
  </div>
  <div class='inner-view'>
    <div class="view-left">
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>번호</label>
        <input class="form-control view-input" id="user_id" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>이메일</label>
        <input class="form-control view-input" id="user_email" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>사용자명</label>
        <input class="form-control view-input" id="user_name" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>연락처</label>
        <input class="form-control view-input" id="user_phone" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>성별</label>
        <input class="form-control view-input" id="user_gender" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>생년월일</label>
        <input class="form-control view-input" id="user_birth" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>SNS</label>
        <input class="form-control view-input" id="user_sns" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>가입일자</label>
        <input class="form-control view-input" id="user_regist" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>추천인 코드</label>
        <input class="form-control view-input" id="user_rec1" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>가입시 추천인 코드</label>
        <input class="form-control view-input" id="user_rec2" readonly>
      </div>
      <div class='tar'>
        <button onclick='returnView()' class="btn btn-fw white">목록</button>
      </div>
    </div>
    <div class="view-right">
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>가입시 아이피</label>
        <input class="form-control view-input" id="user_rec_ip" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>로그인시 아이피</label>
        <input class="form-control view-input" id="user_login_ip" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>로그인 일자</label>
        <input class="form-control view-input" id="user_login_date" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>수정일자</label>
        <input class="form-control view-input" id="user_edit_date" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>활성화 여부</label>
        <select class="form-control view-input" id="user_active" name="user_active">
          % for active in active_list:
            <option value="${ active.code }">${ active.name }</option>
          % endfor
        </select>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>권한 여부</label>
        <select class="form-control view-input" id="user_staff" name="user_staff">
          % for staff in staff_list:
            <option value="${ staff.code }">${ staff.name }</option>
          % endfor
        </select>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>삭제 여부</label>
        <select class="form-control view-input" id="user_delete" name="user_delete">
          % for delete in delete_list:
            <option value="${ delete.code }">${ delete.name }</option>
          % endfor
        </select>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>차단 여부</label>
        <select class="form-control view-input" id="user_black" name="user_black">
          % for black in black_list:
            <option value="${ black.code }">${ black.name }</option>
          % endfor
        </select>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i>로그인 회수</label>
        <input class="form-control view-input" id="user_attempt" readonly>
      </div>
      <div class="form-group">
        <label class="label-margin"><i class="fas fa-check r-icon"></i> 보유시간</label>
        <input class="form-control view-input" id="user_clock" readonly>
      </div>
      <div class='tar'>
        <button onclick='editView()' class="btn btn-fw white">수정</button>
      </div>
    </div>
  </div>
</div>
</%block>


<%block name="js">
<script src="/static/user/user.js"></script>
</%block>
