<script src="/static/new/js/jquery-3.4.1.min.js"></script>
<script src="/static/new/js/popper.min.js"></script>
<script src="/static/new/js/bootstrap.min.js"></script>
<script src="/static/new/js/jquery.magnific-popup.min.js"></script>
<script src="/static/new/js/jquery.easing.min.js"></script>
<script src="/static/new/js/jquery.mb.YTPlayer.min.js"></script>
<script src="/static/new/js/wow.min.js"></script>
<script src="/static/new/js/owl.carousel.min.js"></script>
<script src="/static/new/js/jquery.countdown.min.js"></script>
<script src="/static/new/js/scripts.js"></script>
<script src="/static/new/js/swal2.js"></script>
<script src="/static/new/js/swal2_color.js"></script>
