<!--favicon icon-->
<link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16">

<!--google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans&display=swap"
      rel="stylesheet">

<!--Bootstrap css-->
<link rel="stylesheet" href="/static/new/css/bootstrap.min.css">
<!--Magnific popup css-->
<link rel="stylesheet" href="/static/new/css/magnific-popup.css">
<!--Themify icon css-->
<link rel="stylesheet" href="/static/new/css/themify-icons.css">
<!--animated css-->
<link rel="stylesheet" href="/static/new/css/animate.min.css">
<!--ytplayer css-->
<link rel="stylesheet" href="/static/new/css/jquery.mb.YTPlayer.min.css">
<!--Owl carousel css-->
<link rel="stylesheet" href="/static/new/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/new/css/owl.theme.default.min.css">
<!--custom css-->
<link rel="stylesheet" href="/static/new/css/style.css">
<!--responsive css-->
<link rel="stylesheet" href="/static/new/css/responsive.css">
