<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html"/>

<%block name="css">
</%block>

<%block name="content">
<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section full-screen gray-light-bg">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">

                    <!-- Image -->
                    <div class="bg-cover vh-100 ml-n3 background-img" style="background-image: url(/static/new/img/hero-bg-3.jpg);">
                        <div class="position-absolute login-signup-content">
                            <div class="position-relative text-white col-md-12 col-lg-7">
                                <h2 class="text-white">${_('Change password')}</h2>
                                <p class="lead" style="font-weight: 500;">
                                  ${_('Your identity has been verified')}<br>
                                  ${_('Enter your new password')}<br>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6">
                    <div class="login-signup-wrap px-4 px-lg-5 my-5">
                        <!-- Heading -->
                        <h1 class="text-center mb-1">
                            ${_('Change password')}
                        </h1>

                        <!-- Form -->
                        <form class="login-signup-form" action="javascript:void(0);">
                            <div class="form-group">
                                <label class="pb-1">${_('New password')}</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-lock color-primary"></span>
                                    </div>
                                    <input id="regist_password" type="password" class="form-control" placeholder="${_('Enter the password')}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="pb-1">${_('Re-enter new password')}</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-lock color-primary"></span>
                                    </div>
                                    <input id="regist_password_re" type="password" class="form-control" placeholder="${_('Re-enter password')}">
                                </div>
                            </div>
                            <!-- Submit -->
                            <button onclick="reset_password()" class="btn btn-lg btn-block solid-btn border-radius mt-4 mb-3">
                                ${_('Change password')}
                            </button>

                            <!-- Link -->
                            <div class="text-center">
                                <small class="text-muted text-center">
                                    ${_('Try to login again?')} <a href="/login">${_('Sign in')}</a>
                                </small>
                            </div>

                        </form>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div>
    </section>
    <!--hero section end-->

</div>
<!--body content wrap end-->
</%block>

<%block name="js">
<script>
function reset_password(){
    var regist_password = $('#regist_password').val();
    var regist_password_re = $('#regist_password_re').val();

    $.post( "/api_reset_password", {
        csrfmiddlewaretoken: $('#csrf_token').val(),
        regist_password: regist_password,
        regist_password_re: regist_password_re
    })
    .done(function( data ) {
        if (data.result == 200) {
            Swal.fire({
                type: 'success',
                title: data.title,
                text: data.text,
                confirmButtonColor: swalColor('success'),
            }).then(function(result) {
                if (result.value) {
                    window.location.href = '/login';
                }
            })
        } else {
            Swal.fire({
                type: 'error',
                title: data.title,
                text: data.text,
                confirmButtonColor: swalColor('error'),
            }).then(function(result) { /* pass */ })
        }
    });
}
</script>
</%block>
